<script> 
   document.getElementById("page_status").innerHTML = '';
   document.title = 'NZIslands On the Air'
   document.getElementById('logo').innerHTML='NZIslands On The Air'

</script>
<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <%=  link_to  "Islands:", '/islands', remote: true,  :id => 'islands', :onclick => "linkHandler('islands')" %>
     &nbsp;--&gt;&nbsp;
     <b><%= @island.name %></b>
     </div>
   <div id="controls">
       <% if current_user and current_user.is_modifier %>
            <%=  link_to "Edit", '/islands/'+@island.id.to_s+'/edit', class: "btn btn-small btn-primary", remote: true, :id => 'edit', :onclick => "linkHandler('edit')" %>
       <% end %>
       <%=  link_to "Index", "/islands", class: "btn btn-small btn-primary", remote: true,  :id => 'index', :onclick => "linkHandler('index')" %>
       <%=  link_to "Show/Hide Map", "#", class: "btn btn-small btn-primary",   :onclick => "toggle_map(); return false;"%>
   </div>
</div>
<div id="right_scroll">
   <%= render 'flash' %>
   <div class="erow" id="email">
      <div class="rowtitle"><%= "NZGeoDb Id:" %></div>
      <div class="rowtext"><%= @island.code %></div>
   </div>
   <div class="erow" id="name">
      <div class="rowtitle"><%= "Name" %></div>
      <div class="rowtext">
        <%=link_to @island.name, '/islands/'+@island.id.to_s, remote: true,  :id => 'island', :onclick => "linkHandler('home')" %>
      </div>
   </div>
   <div class="erow" id="status">
      <div class="rowtitle"><%= "Name status" %></div>
      <div class="textext"><%= @island.status %></div>
   </div>
   <div class="erow" id="info_ref">
      <div class="rowtitle"><%= "Reference" %></div>
      <div class="rowtext"><%= @island.info_ref%></div>
   </div>
   <div class="erow" id="info_origin">
      <div class="rowtitle"><%= "Origin" %></div>
      <div class="rowtext"><%= @island.info_origin%></div>
   </div>
   <div class="erow" id="info_description">
      <div class="rowtitle"><%= "Description" %></div>
      <div class="rowtext"><%= @island.info_description%></div>
   </div>
   <div class="erow" id="info_note">
      <div class="rowtitle"><%= "Info Note" %></div>
      <div class="rowtext"><%= @island.info_note%></div>
   </div>
   <div class="erow" id="feat_note">
      <div class="rowtitle"><%= "Feature Note" %></div>
      <div class="rowtext"><%= @island.feat_note%></div>
   </div>
   <div class="erow" id="doc_unit">
      <div class="rowtitle"><%= "Park" %></div>
      <div class="rowtext"><%= @island.doc_cons_unit_no%></div>
   </div>
   <div class="erow" id="treaty_notes">
      <div class="rowtitle"><%= "Treaty Notes" %></div>
      <div class="rowtext"><%= @island.treaty_legislation%></div>
   </div>
   <div class="erow" id="height">
      <div class="rowtitle"><%= "Height" %></div>
      <div class="rowtext"><%= @island.height%></div>
   </div>
   <div class="erow" id="X">
      <div class="rowtitle"><%= "X" %></div>
      <div class="rowtext"><%= @island.crd_east%></div>
   </div>
   <div class="erow" id="Y">
      <div class="rowtitle"><%= "Y" %></div>
      <div class="rowtext"><%= @island.crd_north%></div>
   </div>
   <div class="erow" id="Projection">
      <div class="rowtitle"><%= "Projection" %></div>
      <div class="rowtext"><%= @island.crd_datum%></div>
   </div>
   <div class="erow" id="hp">
      <div class="rowtitle"><%= "Shoreline mapped?" %></div>
      <div class="textext"><%= if @island.has_polygon then "Yes" else "No - boundary of island will not be shown. Note that huts on this island will not automatically be listed" end %></div>
   </div>

   <div class="erow" id="email">
      <div class="rowtitle"><%= "Active?" %></div>
      <div class="textext"><%= if @island.is_active then "Yes" else "No" end %></div>
   </div>

   <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
   </div>

   <div class="sectiontitle_bold">Links:</div>
   <div class="erow" id="name">
      <div class="rowtitle"><%= "Other" %></div>
      <div class="rowtext"><%= if @island.general_link then link_to @island.general_link, @island.general_link, :target=>"_blank" end %></div>
   </div>

   <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
   </div>


   <div class="sectiontitle_bold">Bagged by:</div>
   <div class="erow">
     <% if not @island.baggers or (@island.baggers and @island.baggers.count==0) then %>
        <i>No-one has bagged this island yet. Be the first!</i></br>
     <% end %>
     <% @island.baggers.each do |user| %>
         <%=link_to user.callsign, '/users/'+user.callsign, remote: true,  :id => 'user', :onclick => "linkHandler('user')" %>,&nbsp
     <% end %>
   </div>   
   <div class="erow">
     <% if @island.contacts and @island.contacts.count>0 then %>
         <b><%=link_to @island.contacts.count.to_s+" Contacts (View)", '/contacts/?island='+@island.id.to_s, remote: true,  :id => 'user', :onclick => "linkHandler('contact')" %></b>
     <% end %>
   </div>

   <% if current_user %>
     <%=  link_to "Add Contact (Bag Island)", "/contacts/new?island1="+@island.id.to_s, class: "btn btn-small btn-primary btn-highlight", remote: true,  :id => 'contact', :onclick => "linkHandler('contact')" %>
     <%=  link_to "Add Many Contacts", '/contacts/editgrid?island1='+@island.id.to_s, class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('edit')" %>

   <% end %>

   <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
   </div>

   <div class="sectiontitle_bold">Huts:</div>

   <table> 
   <% @island.huts.each do |h| %>
     <tr>
       <td>
          <%=link_to h.codename, '/huts/'+h.id.to_s, remote: true,  :id => 'hut'+h.id.to_s, :onclick => "linkHandler('hut')" %>
       </td>
     </tr>
   <% end %>
   </table>


   <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
   </div>

   <div class="sectiontitle_bold">SOTA Summits:</div>

   <table>
   <% @island.summits.each do |s| %>
     <tr>
       <td>
          <%=link_to s.codename, '/summits/'+s.short_code, remote: true,  :id => 'summit'+s.id.to_s, :onclick => "linkHandler('summit')"   %>
       </td>
     </tr>
   <% end %>
   </table>


   <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
   </div>

</div>
<script>
    place_init('<%=@island.WKT%>',  0);
    <% if @island.simple_boundary and @island.simple_boundary!="MULTIPOLYGON EMPTY"then %> park_init('<%=@island.simple_boundary%>', 0); <% end %>
   site_toggle_island(2);
    if(site_map_size==0) { 
       $('#actionbar').removeClass('span7');
       $('#actionbar').addClass('span12');
    }
</script>

