<script>
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   document.body.classList.remove('loading');
   document.title = '... On The Air'
   document.getElementById('logo').innerHTML='... On The Air'

</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <b>Home</b>
   </div>
   <div id="controls">
     <% if write_access?  %>
       <%=  link_to "Add Spot", "/posts/new?topic_id="+SPOT_TOPIC.to_s, class: "btn btn-small btn-primary",remote: true, id: "add",   :onclick => "linkHandler('add')"%>
       <%=  link_to "Add Alert", "/posts/new?topic_id="+ALERT_TOPIC.to_s, class: "btn btn-small btn-primary",remote: true, id: "add",   :onclick => "linkHandler('add')"%>
     <% end %>
     <%=render 'map_controls'%>
   </div>
</div>

<div id="right_scroll">
  <%= render 'flash' %>
  <div style="background-image: url('assets/hota-logo4.JPG'); background-size: cover;padding-bottom: 10px">
    <h1>ZL ... On The Air</h1>
  </div>

<table style='table-layout:fixed'>
  <tr>
    <% AssetType.where("name != 'all'").each do |at| %>
      <th><%=link_to at.display_name.pluralize, '/assets/?type='+at.name,remote: true,:onclick => "linkHandler('"+at.name+"')", :style=>'color:#fff' %></th>
    <% end %>
  </th>
</table>

<% if signed_in? and @items and @items.count>0 then %>
  <h2>
    <%=link_to "What's New", '/topics/4',  remote: true,:onclick => "linkHandler('more')"%> 
    <%=  link_to "Hide", 'ack_news', remote: true, class: "btn btn-small btn-primary",   :onclick => "linkHandler('acklink')"%>
  </h2>

  <% @items.each do |item| %>
     <%=render :partial => 'item_details',  :locals => {:item => item} %>
  <% end%>
  <div class="erow">
     <div class="hrline">
        <hr noshade size="4">
     </div>
  </div>
<% end %>

<%= form_tag '/assets', :name => 'findform', :remote => true, :method => 'get', :style => 'margin-bottom: 0px' %>
  <br/>
  <div class="rowtitle">Search for place:</div>
  <div class="rowtext">
    <input type="text" name="searchtext" value='<%=@searchtext%>'/>
  </div>
  <div class="rowtext" style="display:none">
    <input id="minor" name="minor" type="checkbox" checked="checked">
  </div>

  <div class="buttonshort">
    <%= submit_tag "Find", :id => "find", :onclick => "submit_search('find');", :class => "btn btn-small", :onclick => "submitHandler('Finding...');" %>
  </div>
</form>

  <div class="erow">
     <div class="hrline">
        <hr noshade size="4">
     </div>
  </div>

  <h2>
    <%= link_to 'Latest ZL / VK Spots', '/spots', remote: true,:onclick => "linkHandler('results')"%>
    <%=  link_to "Auto-Refresh", '/spots', remote: true, class: "btn btn-small btn-primary",   :onclick => "linkHandler('refresh_link')"%>
  </h2>
  <% @all_spots=@all_spots[0..9] %>
  <%=render 'spot_list'%>
  <h2><%=link_to "Top ten", '/results',  remote: true,:onclick => "linkHandler('results')"%></h2>

  <div class="erow">
     <div class="hrline">
        <hr noshade size="4">
     </div>
  </div>

  <% @max_len=10%>
  <%=render 'result_table'%>

  <div class="erow">
     <div class="hrline">
        <hr noshade size="4">
     </div>
  </div>

  <div class="sectiontitle"><br/><br/>Recent actvity<br/><br/></div>

  <%=render 'logs/list' %>

<script>
document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
if ($(window).width() < 960) {
        site_smaller_map();
      }

</script>

