<script>
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   document.body.classList.remove('loading');
   document.title = <%= raw(@site_title) %>
   document.getElementById('logo').innerHTML = <%= raw(@site_title) %>
$(function () {
  $('#right_panel .pagination a').on('click', function () {
    $.getScript(this.href+"&sortby=<%=@sortby%>");
    return false;
  });
});

</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <b>Results</b>
   </div>
   <div id="controls">
     <%=render 'map_controls'%>
   </div>
</div>

<div id="right_scroll">
  <%= render 'flash' %>
  <div style="background-image: url(<%=@site_title_image%>); background-size: cover;padding-bottom: 10px">
    <h1><%= raw(@site_title_unquoted) %></h1>
  </div>

  <div class="name_pagination"> <%= will_paginate(@users, :sortby => @sortby, :scoreby => @scoreby) %></div>

  <%=render 'result_table'%>

  <div class="name_pagination"> <%= will_paginate(@users, :sortby => @sortby, :scoreby => @scoreby) %></div>

<script>
document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
if ($(window).width() < 960) {
        site_smaller_map();
      }

</script>

