<% if !@max_len then @max_len=1000 end%>
<% if @sortby=="p2p" then
   @scoreby="bagged"
 end %>
<% if @scoreby=="qualified" then 
   scorefield="qualified_count_total"
   elsif @scoreby=="chased" then
   scorefield="chased_count_total"
   elsif @scoreby=="activated" then
   scorefield="activated_count_total"
   else
   scorefield="score"
   @scoreby="bagged" 
end%>

<% if !@sortby then @sortby="park" end%>
<table id="result_headings">
  <tr>
    <th <%=if @scoreby == 'bagged' then 'style=background-color:#33bb22 !important' end%>>
      <span title="Unique locations chased or activated">
        <%=link_to 'Bagged','?scoreby=bagged&sortby='+@sortby, remote: true,:onclick => "linkHandler('bagged')"%>
      </span>
    </th>
    <th <%=if @scoreby == 'activated' then 'style=background-color:#33bb22 !important' end%>>
      <span title="Locations activated (including repeats in different UTC year)">
        <%=link_to 'Activated','?scoreby=activated&sortby='+@sortby, remote: true,:onclick => "linkHandler('activated')"%>
      </span>
    </th>
    <th <%=if @scoreby == 'qualified' then 'style=background-color:#33bb22 !important' end%>>
      <span title="Locations activated with minimum QSO count achieved (including repeats in different UTC year)">
        <%=link_to 'Qualified','?scoreby=qualified&sortby='+@sortby, remote: true,:onclick => "linkHandler('qualified')"%>
      </span>
    </th>
    <th <%=if @scoreby == 'chased' then 'style=background-color:#33bb22 !important' end%>>
      <span title="Locations chased (including repeats on different UTC day)">
        <%=link_to 'Chased','?scoreby=chased&sortby='+@sortby, remote: true,:onclick => "linkHandler('chased')"%>
      </span>
    </th>
  </tr>
</table>
<div class="photo-bar">
  <table id="result_table">
    <tr>
      <th>Position</th>
      <th>Callsign</th>
      <% AssetType.where("keep_score = true").order(:name).each do |asset_type| %>
        <th <%=if asset_type.name == @sortby then 'style=background-color:#33bb22 !important' end%>><%=link_to asset_type.name.capitalize, "?scoreby="+@scoreby+"&sortby="+asset_type.name, remote: true, onclick: "linkHandler('default_order')" %></th>
      <% end %>
      <th <%=if 'elevation' == @sortby then 'style=background-color:#33bb22 !important' end%>>
        <span title="Sum of elevations of all summits worked"> 
          <%=link_to "Summit Elevation", "?scoreby="+@scoreby+"&sortby=elevation", remote: true, onclick: "linkHandler('default_order')" %>
        </span>
      </th>
   
      <th <%=if 'p2p' == @sortby then 'style=background-color:#33bb22 !important' end%>>
        <span title="Places worked Portable to Portable"><%=link_to 'P2P', "?scoreby=bagged&sortby=p2p", remote: true, onclick: "linkHandler('default_order')" %></span></th>
      <th <%=if 'qrp' == @sortby then 'style=background-color:#33bb22 !important' end%>>
        <span title="Places worked operating QRP"><%=link_to 'QRP', "?scoreby="+@scoreby+"&sortby=qrp", remote: true, onclick: "linkHandler('default_order')" %></span></th>
    </tr>

    <% position=0    
    lastscore=99999999 %>
    <% if @users then  @users[0..@max_len].each do |user| %>
      <% if position<@max_len and user[scorefield][@sortby] and user[scorefield][@sortby]>-1 then %>
        <% 
           if (user[scorefield][@sortby]||0)<(lastscore||0) then 
            position+=1
            lastscore=user[scorefield][@sortby]
           end
        %>
        <tr>
          <td>
            <%= position.to_s %>
          </td>
          <td>
            <%= link_to user.callsign.upcase, '/users/'+user.callsign, remote: true, :id => 'user_link_'+user.id.to_s, :style => (if not user.activated then 'color:grey' else '' end), :onclick => "linkHandler('user_link_"+user.id.to_s+"')" %>
          </td>
          <% AssetType.where("keep_score = true").order(:name).each do |asset_type| %>
            <% if @scoreby=='activated' and user[scorefield][asset_type.name]!=user["confirmed_"+scorefield][asset_type.name] then orphans=true else orphans=false end %>
            <td><%=(user[scorefield][asset_type.name]||0).to_s%><%if orphans then %><span title="Includes activations referenced in chaser logs for which no activator log has been submitted"><sup><%=link_to "+", '/contacts?orphans=true&user='+user.callsign, remote: true, :id => 'orphan_link_'+user.id.to_s%></sup></span><%end%></td>
          <% end %>
          <td><%= number_with_precision((user[scorefield]['elevation']||0).to_f/1000, :precision => 1, :delimiter => ',') %> km</td>
          <td><%=(user[scorefield]['p2p']||0).to_s%></td>
          <td><%=(user[scorefield]['qrp']||0).to_s%></td>
        </tr>
      <% end %>
    <% end end  %>
  </table>
</div>
</div>
