
  <table class="users">
    <tr>
      <th>Position</th>
      <th>Callsign</th>
      <% AssetType.where("keep_score = true").each do |asset_type| %>
        <th <%=if asset_type.name == @sortby then 'style=background-color:#33ff22 !important' end%>><u><%= link_to asset_type.display_name,'/assets?type='+asset_type.name, remote: true, :onclick => "linkHandler('"+asset_type.name+"')"%> <%=link_to "v", "?sortby="+asset_type.name, remote: true, onclick: "linkHandler('default_order')", :style => if asset_type.name ==@sortby then "color: #000000" else "color: #ffffff" end %></u></th>
      <% end %>
    </tr>

    <% position=0    
    lastscore=99999999
    if @users then @users.sort_by { |u| u.score[@sortby]||0 }.reverse.each do |user| %>
      <% 
         if (user.score[@sortby]||0)<(lastscore||0) then 
          position+=1
          lastscore=user.score[@sortby]
         end
      %>
      <tr>
        <td>
          <%= position.to_s %>
        </td>
        <td>
          <%= link_to user.callsign.upcase, '/users/'+user.callsign, remote: true, :id => 'user_link_'+user.id.to_s, :style => (if not user.activated then 'color:grey' else '' end), :onclick => "linkHandler('user_link_"+user.id.to_s+"')" %>
        </td>
        <% AssetType.where("keep_score = true").each do |asset_type| %>
          <td><%=user.score[asset_type.name].to_s%><%if user.score_total[asset_type.name]!=user.score[asset_type.name] then %><span style="color:grey"> (<%=user.score_total[asset_type.name].to_s%>)</span><%end%></td>
        <% end %>
      </tr>
    <% end end  %>
  </table>
</div>
<div class="erow">
Key to scores: </br>
  Number of unique locations bagged <span style="color:grey">(total number of activations)</span>
</div>
