<table class="cleanskin">
  <% @all_spots.each do |spot| %>
    <tr>
      <td><%if spot[:type]=="ZLOTA" then %><b><%=spot[:type]%></b><% else %><%=spot[:type]%> <% end %></td>
        <td><%=spot[:date]%> <%=spot[:time]%> (<%=@tz.name%>)</td>
        <td><b><%user=User.find_by_full_callsign(spot[:activatorCallsign])%>
          <% if user then %>
            <%=link_to spot[:activatorCallsign].upcase, "users/"+user.callsign, remote: true,  :id => 'link', :onclick => "linkHandler('link')" %>
          <% else %>
            <%=spot[:activatorCallsign].upcase%>
          <% end %>
        </b></td>
        <td>@ 
          <% codes=spot[:code] %>
          <% if codes.kind_of?(Array)==false then codes=[codes] end %>
          <% codes.each do |code| %>
            <% link=Asset.assets_from_code(code)%>
            <% if link and link.count>0 then %>
              <% if link.first[:external] then %>
                <%=link_to code.upcase,link.first[:url], target: "_blank"%><img src="/assets/external-link-symbol.png">
              <% else %>
               <%=link_to code.upcase,link.first[:url], remote: true,  :id => 'link', :onclick => "linkHandler('link')"  %>
              <% end %>
            <% else %>
              <%=code.upcase%>
            <% end %>
          <% end %>
        </td>
        <td><i>de: <%user=User.find_by_full_callsign(spot[:callsign])%>
          <% if user then %>
            <%=link_to spot[:callsign].upcase, "users/"+user.callsign, remote: true,  :id => 'link', :onclick => "linkHandler('link')" %>
          <% else %>
            <%=spot[:callsign].upcase%>
          <% end %>
        </i></td>

        <td><%=spot[:frequency]%>-<%=spot[:mode]%></td>
      </tr>
      <tr>
        <td></td>
        <td colspan=7>
          <%=spot[:name]%> -
          <%=spot[:comments]%>
        </td>
      </tr>
  <% end %>
</table>

