<script>
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   document.body.classList.remove('loading');
   document.title = '... On The Air'
   document.getElementById('logo').innerHTML='... On The Air'
</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <b>Spots</b>
</div>
   <div id="controls">
     <% if current_user  %>
       <%=  link_to "Add Spot", "/posts/new?topic_id="+SPOT_TOPIC.to_s, class: "btn btn-small btn-primary",remote: true, id: "add",   :onclick => "linkHandler('add')"%>
     <% end %>
     <%=render 'map_controls'%>
   </div>
</div>

<div id="right_scroll">
  <%= render 'flash' %>
  <h2>ZL/VK Spots <%=  link_to "Refresh", '/spots', remote: true, class: "btn btn-small btn-primary",   :onclick => "linkHandler('refresh_link')"%></h2>

  <% if @class then %>
    <i>Showing class <%=@class%> only.  <%=link_to "Show All", '/spots', remote: true, id: "add",   :onclick => "linkHandler('add')"%></i>
  <% else %>
    <i>Showing all spots.  Show only 
       <%=link_to "ZLOTA", '/spots?class=ZLOTA', remote: true, id: "add",   :onclick => "linkHandler('add')"%>
       <%=link_to "SOTA", '/spots?class=SOTA', remote: true, id: "add",   :onclick => "linkHandler('add')"%>
       <%=link_to "POTA", '/spots?class=POTA', remote: true, id: "add",   :onclick => "linkHandler('add')"%>
       <%=link_to "WWFF", '/spots?class=WWFF', remote: true, id: "add",   :onclick => "linkHandler('add')"%>
    </i>
  <% end %> 
  <%= render 'spot_list' %>

</div>
<script>
document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
if ($(window).width() < 960) {
        site_smaller_map();
      }
</script>

