<script>
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   document.title = '... On The Air'
   document.getElementById('logo').innerHTML='... On The Air'
</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <b>Spots</b>
</div>
   <div id="controls">
     <% if current_user  %>
       <%=  link_to "Add Spot", "/posts/new?topic_id="+SPOT_TOPIC.to_s, class: "btn btn-small btn-primary",remote: true, id: "add",   :onclick => "linkHandler('add')"%>
     <% end %>
     <%=render 'map_controls'%>
   </div>
</div>

<div id="right_scroll">
  <%= render 'flash' %>
  <h2><a href="https://qrp.nz/topics/<%=SPOT_TOPIC.to_s%>">Going portable spots</a></h2>
  <table class="users">
    <tr>
      <th>Date</th>
      <th>Time (NZ)</th>
      <th>Spotted by</th>
      <th>Operator Callsign</th>
      <th>Location</th>
      <th>Freq</th>
      <th>Comments</th>
    </tr>
    <% @hota_spots.each do |post| %>
    <tr>
      <% us=User.find_by(id: post.created_by_id) %>
        <% if us then u=us.callsign else u="" end %>
        <td><%=if post.referenced_date then link_to post.referenced_date.strftime("%Y-%m-%d"),'/posts/'+post.id.to_s, remote: true,  :id => 'home', :onclick => "linkHandler('home')"  end%></td>
        <td><%=if post.referenced_time then post.referenced_time.strftime("%H:%M") end%></td>
        <td><%=u%></td>
        <td><%=post.callsign%></td>
        <td><%=post.site%></td>
        <td><%=post.freq%><%=if post.mode and post.mode.length>0 then " - "+post.mode end%></td>
        <td><b><%=post.title%></b><br/><%=raw (post.description).gsub(/(?<=<style type=\"text\/css\">).+(?=<\/style>)/m,'')%></td>
      </tr>
    <% end %>
  </table>
  <table class="users">
    <tr>
      <th>Activity</th>
      <th>Date</th>
      <th>Time (NZ)</th>
      <th>Spotted by</th>
      <th>Callsign</th>
      <th>Code</th>
      <th>Location</th>
      <th>Frequency</th>
      <th>Mode</th>
      <th>Comments</th>
    </tr>
  <h2>Other spots</h2>
    <% @all_spots.each do |spot| %>
      <tr>
        <td><%=spot[:type]%></td>
        <td><%=spot[:date]%></td>
        <td><%=spot[:time]%></td>
        <td><%user=User.find_by_full_callsign(spot[:callsign])%>
          <% if user then %>
            <%=link_to spot[:callsign], "users/"+user.callsign, remote: true,  :id => 'link', :onclick => "linkHandler('link')" %>
          <% else %>
            <%=spot[:callsign]%>
          <% end %>
        </td>
        <td><%user=User.find_by_full_callsign(spot[:activatorCallsign])%>
          <% if user then %>
            <%=link_to spot[:activatorCallsign], "users/"+user.callsign, remote: true,  :id => 'link', :onclick => "linkHandler('link')" %>
          <% else %>
            <%=spot[:activatorCallsign]%>
          <% end %>
        </td>

        <td><%link=Asset.assets_from_code(spot[:code])%>
          <% if link.first[:external] then %>
           <%=link_to spot[:code],link.first[:url], target: "_blank"%><img src="/assets/external-link-symbol.png">
          <% else %>
           <%=link_to spot[:code],link.first[:url], remote: true,  :id => 'link', :onclick => "linkHandler('link')"  %>
          <% end %>
        </td>
        <td><%=spot[:name]%></td>
        <td><%=spot[:frequency]%></td>
        <td><%=spot[:mode]%></td>
        <td><%=spot[:comments]%></td>
      </tr>
    <% end %>
  </table>
</div>
<script>
document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
if ($(window).width() < 960) {
        site_smaller_map();
      }
</script>

