<table class="cleanskin" id="spot_table">
  <% count = 0 %>
  <% @all_spots.each do |spot| %>
    <% count += 1 %>
      <tr>
      <td rowspan=2><% spot[:spot_type].uniq.each do |st| %><%if st=="ZLOTA" then %><b><%=st%></b><% else %><%=st%> <% end %> <br/> <% end %> <%if spot[:post_id] and spot[:post_id].count>0 then %><%=link_to 'View','/topics/35?post='+(-spot[:post_id].last).to_s,remote: true,  :id => 'view', :onclick => "linkHandler('view')"%><% end %></td>
        <td><%if spot[:time] and spot[:time].last then %><%=spot[:time].last.to_time.in_time_zone(@tz.name).strftime("%Y-%m-%d")%> <b><%=spot[:time].last.to_time.in_time_zone(@tz.name).strftime("%H:%M:%S")%></b> (<%=@tz.name%>)<% end %></td>
        <td><b><%=render :partial => 'callsign',  :locals => {:this_callsign => spot[:activatorCallsign]} %></b></td>
        <td>@ 
          <% codes=spot[:code] %>
          <% if codes.kind_of?(Array)==false then codes=[codes] end %>
          <% validlink=false %>
          <% codes.each do |code| %>
            <% link=Asset.assets_from_code(code)%>
            <% if link and link.count>0 then %>
              <% validlink=true %>
              <% if link.first[:external] then %>
                <%=link_to code.upcase,link.first[:url], target: "_blank"%><img src="/assets/external-link-symbol.png">
              <% else %>
               <%=link_to code.upcase,link.first[:url], remote: true,  :id => 'link', :onclick => "linkHandler('link')"  %>
              <% end %>
            <% else %>
              <%=code.upcase%>
            <% end %>
          <% end %>
        </td>
        <td><i>de: <%=render :partial => 'callsign',  :locals => {:this_callsign => spot[:callsign].last} %></i></td>

        <td><%=if spot[:frequency] and spot[:frequency]!="" then spot[:frequency].to_f.round(5) else "" end%>-<%=spot[:mode]%></td>
      </tr>
      <tr>
        <td></td>
        <td colspan=7>
          <%=spot[:name].join("")%> -
          <i><small><%if signed_in? and validlink  %> 
            <%=link_to '(respot)','/posts/new?topic_id='+SPOT_TOPIC.to_s+'&spot='+spot[:id].to_s, remote: true,  :id => 'respot', :onclick => "linkHandler('respot')" %>
            <%=link_to '(log chase)','/contacts/new?spot='+spot[:id].to_s, remote: true,  :id => 'chase', :onclick => "linkHandler('chase')" %>
          <% end%></small></i>
          <br/>&rarr;<%=spot[:comments].last%>
          <% if spot[:comments].count>1 %>
            <%=render :partial => 'inline_expand_buttons',  :locals => {:expName => "item"+count.to_s, :initialSt => 0, :inline => true} %>
            <div id="item<%=count.to_s%>" style="display: none">
              <% spot[:comments][0..-2].reverse.each do |c| %>
                <br/>&rarr;<%=c%>
              <% end %>
            </div>
          <% end %>
          </td>
      </tr>
  <% end %>
</table>

