<% provide(:title, "Password Reset") %>
<% @title=" | Password Reset " %>

<script> 
   reset_map_controllers();
   update_title('<%=@title%>'); 
   document.getElementById("page_status").innerHTML = '';
   document.body.classList.remove('loading');
</script>

<div id="actionbar" class="span7">
  <div id="crumbs">
    <%=link_to "Home", '/', :remote => true,  :onclick => "linkHandler('home')" %>
    &nbsp;--&gt;&nbsp;
    <b>Password Reset</b>
  </div>

  <div id="controls">
    <%=render 'map_controls'%>
  </div>
</div>

<div id="right_scroll">
  <%= render 'flash' %>

  <div class="erow">
    <%= form_for @user, url: password_reset_path(params[:id]) do |f| %>
      <p>Please enter your new password details to reset your password</p>
      <%= render 'shared/error_messages' %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <div class="erow"><i>Password rules: any combination of letters and numbers. No spaces or extended characters</i></div>

      <%= f.submit "Update password", class: "btn btn-small btn-primary" %>
    <% end %>
  </div>
</div>
<script>
  closeAllHandlers();
  document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
</script>

