<% if @topic then topic=@topic else topic=@post.topic end %>
<%if (!topic.is_spot) and (!topic.is_alert) then %>
  <script type="text/javascript">
     bkLib.onDomLoaded(startEdit);
  
    function startEdit() {
      nicEditors.allTextAreas();
    }
  </script>
<% end %>
<script>
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   document.title = '... On The Air'
   document.getElementById('logo').innerHTML='... On The Air'
</script>

<div id="actionbar" class="span7">
  <div id="crumbs">
    <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
    &nbsp;--&gt;&nbsp;
    <%if @topic.id==1 then %><b><%=link_to "Alerts", "/alerts", remote: true,  :id => 'alerts', :onclick => "linkHandler('alerts')"%></b><% end%>
    <%if @topic.id==35 then %><b><%=link_to "Spots", "/spots", remote: true,  :id => 'spots', :onclick => "linkHandler('spots')"%></b><% end%>
    &nbsp;--&gt;&nbsp;
    <%if @post.id%>
      <b><%=link_to @post.title, '/posts/'+@post.id.to_s%></b>
      &nbsp;--&gt;&nbsp;
      <b>Edit</b>
    <% else %>
      <b>New</b>
    <% end %>
  </div>
  <div id="controls">
    <% if @post.id %><% if params[:referring]=='index'%>
        <%=  link_to "Cancel", '/posts', class: "btn btn-small btn-primary",remote: true,  :id => 'cancel', :onclick => "linkHandler('cancel')"%>
      <% else %>
        <%=  link_to "Cancel", '/posts/'+@post.id.to_s, class: "btn btn-small btn-primary",remote: true,  :id => 'cancel', :onclick => "linkHandler('cancel')"%>
    <% end %> <% end %>

    <%=render 'map_controls'%>
  </div>
</div>

<div id="right_scroll">
  <div class="fullform">
    <%= form_for @post, remote: true, :html => {:name => 'postform'}  do |f| %>
      <%=hidden_field_tag(:topic_id, @topic.id)%>
      <%= render 'flash' %>
      <%= render 'shared/error_messages' %>

 
      <% if @topic.is_spot or @topic.is_alert then %>
        <b><%=@topic.name%></b><br>
        <table id="main_table">
          <% if @topic.is_spot then %>
            <tr>
              <td>Operating callsign:</td>
              <td style="padding:0px; margin:0px;" colspan=3><%=f.text_field :callsign, :style =>"padding:0px; margin:0px;" %></td>
            </tr>
          <% end %>
          <% if @topic.is_alert then %>
            <tr>
              <td>On air from: (<%=@tz.name%>)</td>
              <td style="padding:0px; margin:0px;"><%=   f.date_field :referenced_date, :style =>"padding:0px; margin:0px;" %></td><td style="padding:0px; margin:0px;"><%=   f.time_field :referenced_time, :style =>"padding:0px; margin:0px;" %></td>
              <td>Trip length (days):</td><td style="padding:0px; margin:0px;"> <%=   f.text_field :duration, :style =>"padding:0px; margin:0px;" %></td>
            </tr>
          <% end %> 
          <tr>
            <td>Freq(s) (MHz):</td>
            <td style="padding:0px; margin:0px;" ><%=   f.text_field :freq, :style =>"padding:0px; margin:0px;" %></td>
            <td>Mode(s):</td>
            <td style="padding:0px; margin:0px;" colspan=2><%=   f.text_field :mode, :style =>"padding:0px; margin:0px;" %></td>
          </tr>
          <tr>
            <td>Operating from:</td>
            <td>
             <% asset_code_names=@post.asset_code_names.join("<br/>")%>
             <% @post.asset_codes=@post.asset_codes.join(',') %>
             <%= f.text_field :asset_codes, :placeholder => 'Enter code', :style => 'display:block' %>
             <%= f.text_field :x1, :readonly => true, :style => 'display:none' %>
             <%= f.text_field :y1, :readonly => true, :style => 'display:none' %>
             <%= f.text_field :location1, :readonly => true, :style => 'display:none' %>
          </td>
          <td>
            <ul style="float: left;margin: 0" class="nav pull-left" id="menus">
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     Or select place<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "... from list", '/query?assetfield=asset', :remote => true,  :onclick => "search_assets('asset')" %>
                  <li><%= link_to "... from map", '#',  :onclick => "site_selectPlace(null,'post_asset_codes', 'asset_names', 'x1', 'y1', 'location1', null, null, site_green_star,true);return false;" %>
                  <li><%= link_to "Clear", '#',  :onclick => "site_clear_element(['post_asset_codes', 'post_location1', 'post_x1', 'post_y1']);site_clear_html_element(['asset_names']);map_clear_scratch_layer(null,site_green_star);return false;" %>
                </ul>
              </li>
            </ul>
          </td>
          <td>
             <div id="asset_names" name="asset_names"><%=raw(asset_code_names)%></div>
          </td>
          </tr>
        </table>
      <% end %>
      <span>
        <%=f.label :title %>
        <%= f.text_field :title %>
      </span>
    
      <%=f.label :description%>
      <div id="editPanel"></div>
        <span id="descrSpan">
          <%= f.text_area :description %>
        </span>
      </div>


      <% if topic.is_spot or topic.is_alert then %>
        <span>
          Publish on Parks n Peaks
          <input id="pnp" name="pnp" type="checkbox" checked="checked">
        </span>
        <%  if(@submit_button != "Save Changes" and current_user and current_user.is_admin) %>
          <span>
            DEBUG PnP
            <input id="debug" name="debug" type="checkbox">
          </span>
        <% end %>
      <% end %>
      <%  if(@submit_button != "Save Changes" and current_user and current_user.is_admin) %>
        <div class="erow">
          <%=f.label "Check to supress emails of this post" %> 
          <%= f.check_box :do_not_publish %>
        </div>
      <% end %>

      <% if topic.allow_attachments then %>
        <div id="attachments">
          <div class="erow"><div class="sectiontitle">Attachments:</div></div>
          <div class="erow" id="filename_form" style="display:none">
            <div class="sectiontitle25">Filename:</div>
              <%= f.file_field :image %>
            </div>
          </div>
          <div id="link_div">
            <u><i><a href="#" onclick="show_div('filename_form');hide_div('link_div');return(false);">Attach file</a></i></u>
          </div>
          <% if @post.files %>
            <% @post.files.each do |uf| %>
              <div class="erow">
                 <div class="hrline">
                    <hr noshade size="3">
                 </div>
              </div>
              File: <%= uf.image.url.split('/')[4].split('?')[0] %>
            <% end %>
          <% end %>

          <% if @post.images %>
            <% @post.images.each do |image| %>
              <div class="erow">
                <div class="hrline">
                  <hr noshade size="3">
                </div>
              </div>
              <%= link_to (image_tag image.image.url(:original), style: 'max-height:480px;max-width:480px'), image.image.url(:original), :target=>"_blank"%>
            <% end %>
          <% end %>
        </div>
      <% end %>      

      <div class="erow">
        <%= f.submit @submit_button, class: "btn btn-small btn-primary btn-highlight" %>
        <%  if(@submit_button == "Save Changes" and (current_user.is_admin or current_user.id==@post.created_by_id)) %>
          <%= f.submit "Delete Post", confirm: "Delete post: Are you sure?", class: "btn btn-small btn-primary", id:  "deletebutton",remote: true,  :id => 'delete', :onclick => "linkHandler('delete')" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;

  <% if (!topic.is_spot) and (!topic.is_alert) then %>
    startEdit();
  <% end %>
</script>

