Hello <%= @user.callsign %>

================================

<% if @item.topic.is_spot then %>
<% if @item.item_type=="post" and @item.end_item.callsign and @item.end_item.callsign.length>0 then%><%=@item.end_item.callsign.upcase%> <%else%><%=@item.end_item.updated_by_name.upcase%> <%end%>spotted portable

<% if @item.item_type=="post" and @item.end_item.referenced_date then %> UTC: <%=@item.end_item.referenced_date.strftime("%Y-%m-%d")%> <%=if @item.end_item.referenced_time then @item.end_item.referenced_time.strftime("%H:%M") end%><%end%>
<%if @item.end_item.referenced_date then %>NZT: <%=@item.end_item.referenced_date.in_time_zone('Pacific/Auckland').strftime("%Y-%m-%d")%> <%=if @item.end_item.referenced_time then @item.end_item.referenced_time.in_time_zone('Pacific/Auckland').strftime("%H:%M") end%><%end%>
<% if @item.item_type=="post" and @item.end_item.asset_codes then maidenhead=Asset.get_maidenhead_from_location(@item.end_item.get_most_accurate_location); @item.end_item.asset_codes.each do |code| asset=Asset.find_by(code: code); if !asset then asset=VkAsset.find_by(code: code) end; if asset then %>Location: <%=asset.name+" ["+asset.code+"] {"+maidenhead+"}"%><%end%>
<%end%><%end%><%if (@item.end_item.freq and @item.end_item.freq.length>0) or (@item.end_item.mode and @item.end_item.mode.length>0) then%>Frequency: <%= @item.end_item.freq%> - <%= @item.end_item.mode%><%end%>

Posted by: <%=@item.end_item.updated_by_name.upcase%>
<% elsif @item.topic.is_alert then %>
<% if @item.item_type=="post" and @item.end_item.callsign and @item.end_item.callsign.length>0 then%><%=@item.end_item.callsign.upcase%> <%else%><%=@item.end_item.updated_by_name.upcase%> <%end%>alerted: going portable

<% if @item.item_type=="post" and @item.end_item.referenced_date then %> UTC: <%=@item.end_item.referenced_date.strftime("%Y-%m-%d")%> <%=if @item.end_item.referenced_time then @item.end_item.referenced_time.strftime("%H:%M") end%><%end%>
<%if @item.end_item.referenced_date then %>NZT: <%=@item.end_item.referenced_date.in_time_zone('Pacific/Auckland').strftime("%Y-%m-%d")%> <%=if @item.end_item.referenced_time then @item.end_item.referenced_time.in_time_zone('Pacific/Auckland').strftime("%H:%M") end%><%if @item.end_item.duration then%> for <%=(@item.end_item.duration||1).to_s%> day(s)<%end%><%end%>
<% if @item.item_type=="post" and @item.end_item.site then%><%sites=@item.end_item.site.split('; ')%><%sites.each do |site|%>Location: <%=site%>
<%end%><%end%><%if (@item.end_item.freq and @item.end_item.freq.length>0) or (@item.end_item.mode and @item.end_item.mode.length>0) then%>Frequency: <%= @item.end_item.freq%> - <%= @item.end_item.mode%><%end%>

Posted by: <%=@item.end_item.updated_by_name.upcase%>

<% else %>
New <%=@item.item_type%> on ontheair.nz in the topic "<%=@item.topic.name%>" 

================================


Subject: <%=@item.end_item.title%>

<%= @item.end_item.updated_by_name %> <%=if @item.end_item.updated_at > @item.end_item.created_at then " updated in '" else " posted in '" end %><%=@item.topic.name%>' on <%=@item.end_item.updated_at.in_time_zone('UTC').strftime("%Y-%m-%d %H:%M (UTC)")+@item.end_item.updated_at.in_time_zone('Pacific/Auckland').strftime(" / %Y-%m-%d %H:%M (Pacific/Auckland)")%>
<% end %>

================================

<%=convert_to_text(@item.end_item.description.gsub("<div>","").gsub("</div>","<br>"))%>

================================

<%="Visit http://ontheair.nz/posts/"+@item.end_item.id.to_s+" to view the full post"%>

===

You are subscribed to receive emails of new posts on ontheair.nz on this topic.  To unsubscribe visit http://ontheair.nz/ - sign in and update your profile. You can also unsubscribe by emailing me: admin@ontheair.nz 
