<script>
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   site_toggle_docland(true);
   site_toggle_huts(false);
   site_toggle_island(0);
   site_toggle_summits(false);
   document.title = 'NZParks On The Air'
   document.getElementById('logo').innerHTML='NZParks On The Air'

</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <b>Parks</b>
     </div>
   <div id="controls">
       <% if current_user and current_user.is_admin %>
            <%=  link_to "Edit Table", '/parks/editgrid', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('edit')" %>
       <% end %>
       <% if current_user and current_user.is_modifier %>
            <%=  link_to "Add park", '/parks/new', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('add')" %>
       <% end %>
       <% if current_user  %>
         <%=  link_to "Download", '/parks.csv', class: "btn btn-small btn-primary"%>
       <% end %>
       <%=  link_to "Show/Hide Map", "#", class: "btn btn-small btn-primary",   :onclick => "toggle_map(); return false;"%>
   </div>
</div>
<div id="right_scroll">
  <%= render 'flash' %>
<%= form_tag '/parks', :name => 'findform', :remote => true, :method => 'get', :style => 'margin-bottom: 0px' %>
  <br/>
  <div class="erow">
  <div class="rowtitle">Find park:</div>
  <div class="rowtext">
    <input type="text" name="searchtext" value='<%=@searchtext%>'/>
  </div>
  </div>
  <div class="erow">
  <div class="rowtitle">Include minor reserves</div>
  <div class="rowtext">
     <input id="search_minor_reserves" name="search_mr" type="checkbox" value="true" <%=if @searchMR==true then "checked" end %>></div>
  </div>
  <div class="buttonshort">
    <%= submit_tag "Find", :id => "find", :onclick => "submit_search('find');", :class => "btn btn-small" %>
    <%=  link_to "Clear", '/parks', class: "btn btn-small", remote: true, :onclick => "linkHandler('clear')"%>

  </div>
</form>


<% if !@searchtext %>
  Your search returned no results.

   <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
   </div>
   <div class="sectiontitle">NZ Parks On The Air - league table</div>

  <table class="users">
    <tr>
      <th>Position</th>
      <th>User</th>
      <th>Total</th>
      <th>Activated</th>
      <th>Chased</th>
    </tr>

<%
    position=0
    lastscore=9999999
    if @users then @users.each do |user|
      if user.parks_bagged<lastscore then position=position+1;lastscore=user.parks_bagged  end

%>
      <tr>
        <td>
          <%= position.to_s %>
        </td>
<%
       hat=user.parks_activated_count(false)
       hatc=user.parks_activated_count(true)
       hct=user.parks_chased_count(false)
       hctc=user.parks_chased_count(true)
%>

        <td>
          <%= link_to user.callsign.upcase, '/users/'+user.callsign, remote: true, :id => 'user_link_'+user.id.to_s, :style => (if not user.activated then 'color:grey' else '' end), :onclick => "linkHandler('user_link_"+user.id.to_s+"')" %>
        </td>
        <td><%=user.parks_bagged%><%if user.parks_bagged_total and user.parks_bagged_total>0 and user.parks_bagged_total!=user.parks_bagged then%> (<%=user.parks_bagged_total%>)<%end%></td>
        <td><%=hat%><%if hatc and hatc>0 and hatc!=hat then%> (<%=hatc%>)<%end%></td>
        <td><%=hct%><%if hctc and hctc>0 and hctc!=hct then%> (<%=hctc%>)<%end%></td>
      </tr>
    <% end end  %>
  </table>

<% else %>

   <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
   </div>

  Your search returned <%=@count.to_s%> results.
  <% if @count>99 then %>
     This is more than can be displayed.  Please refine your search
  <% end %>
  <table class="places">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Description</th>
        <th style="text-align:center">
          <%=render :partial => 'filter',  :locals => {:filtername => "active", :formname => "/parks"} %>
          Active?
        </th>
   
      </tr>
    <% if @parks then @parks.each do |park| %>
      <tr> 
        <td><%=park.code%></td>
        <td>
          <% if current_user and current_user.is_modifier %>
             <span title="Click to edit row"><%= link_to image_tag("/assets/pencil_edit.png", :class => 'dock-item'), '/parks/'+park.id.to_s+'/edit?referring=index', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton", alt: "Edit"  %></span>
          <% end %>
          <%= link_to park.name, '/parks/'+park.id.to_s, remote: true, :id => 'park_link_'+park.id.to_s, :onclick => "linkHandler('park_link_"+park.id.to_s+"')" %>
        </td>
        <td><%=park.owner%></td>
   <%
      if not park.description or park.description="" then
        #dp=Docparks.find_by_id(park.id)
        dp=Crownparks.find_by(napalis_id: park.id)
        #if dp then description=dp.Legislatio+" "+dp.Section end
        if dp then description=dp.legislation+" "+dp.section end
      else
        description=park.description
      end
   %>

        <td>
            <%= description %>
        </td>

        <td style="text-align:center"><%= check_box "park", "is_active", {:checked => park.is_active, :disabled => true} %></td>
      </tr>
    <% end end %>
  </table>
<i>Key: Unique parks (total parks including revisits)</i>

<% end %>
</div>

<script>
    if(site_map_size==0) { 
       $('#actionbar').removeClass('span7');
       $('#actionbar').addClass('span12');
}
</script>
