<div class="fullform">
   <%= form_for @callsign, remote: true, url: '/callsigns/'+@callsign.id.to_s do |f| %>
    <div id="actionbar" class="span7">
       <div id="crumbs">
         <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
         &nbsp;--&gt;&nbsp;
         <%=  link_to  "Users:", '/users', remote: true,  :id => 'assets', :onclick => "linkHandler('users')" %>
         &nbsp;--&gt;&nbsp;
         <%=  link_to  @callsign.user.callsign, '/users/'+@callsign.user.callsign, remote: true,  :id => 'user', :onclick => "linkHandler('user')" %>
         &nbsp;--&gt;&nbsp;
         Callsigns
         &nbsp;--&gt;&nbsp;
         <%if @callsign.id%> 
            <%=@callsign.callsign%>
            &nbsp;--&gt;&nbsp;
            <b>Edit</b>
         <% else %>
            <b>New</b>
         <% end %>
       </div>

       <div id="controls">
          <%=  link_to "Delete", '/callsigns/'+@callsign.id.to_s+"/delete", class: "btn btn-small btn-primary", remote: true,  :id => 'delete_call', :onclick => "linkHandler('delete_call')", confirm: "Delete callsign?  This will remove this callsign from the system and you will lose any associated points/contacts.  Use 'Edit' and enter an 'End date' if you wish to retire this callsign and retain past contacts. Really delete?"  %>
          <%=  link_to "Cancel", '/users/'+@callsign.user.callsign, class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('cancel')" %>
          <%=render 'map_controls'%>
       </div>
    </div>

    <div id="right_scroll">
      <%= render 'flash' %>
      <%= render 'shared/error_messages' %>

      <%if current_user and current_user.is_admin%>
        <%= f.label :id, "Callsign ID" %>
        <%= f.text_field :id %>

        <%= f.label :user_id, "User ID" %>
        <%= f.text_field :user_id %>
      <% end %>

      <%= f.label :callsign %>
      <%= f.text_field :callsign %>

      <%= f.label :from_date, "Valid From Date" %>
      <%= f.date_field :from_date %>

      <%= f.label :to_date, "Valid To Date" %>
      <%= f.date_field :to_date %>

      <%= f.submit @submit_button, id: 'submit', class: "btn btn-small btn-primary btn-hightlight" %>
      <%  if(@submit_button == "Save Changes" and current_user and (current_user.is_admin or current_user.id==@callsign.user_id)) %>
      <% end %>
    </div>
  <% end %>
</div>

<script>
    document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
    reset_map_controllers(); 
</script>

