<script>
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   document.title = '... On the Air'
   document.getElementById('logo').innerHTML='... On The Air'

$(function () {
  $('#right_panel .pagination a').on('click', function () {
    $.getScript(this.href);
    return false;
  });
})

</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <b>Topics</b>
   </div>
   <div id="controls">
       <% if current_user  %>
          <% if current_user.is_admin then %>
            <%=  link_to "Add Topic", '/topics/new', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('edit')" %>
          <% end %>
       <% end %>
       <%=render 'map_controls'%>
   </div>
</div>
<div id="right_scroll">
  <%= render 'flash' %>
  <% if @topics %>
    <div class="name_pagination"> <%= will_paginate(@topics) %></div>
    <table>
      <% count=0%>
      <% @topics.each do |topic| %>
        <tr>
           <td><%= link_to topic.name, '/topics/'+topic.url, remote: true, :onclick => "linkHandler('topic#{count}')"%></td>
        </tr>
        <% count+=1%>
      <% end %>
    </table>
    <div class="erow"><div class="name_pagination"> <%= will_paginate(@topics) %></div></div>
  <% end %>
</div>
<script>
  document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
</script>

