<script>
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   document.body.classList.remove('loading');
   document.title = '... On the Air'
   document.getElementById('logo').innerHTML='... On The Air'

</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <b>POTA Logs</b>
     </div>
   <div id="controls">
     <%=render 'map_controls'%>
   </div>
</div>
<div id="right_scroll">
  <%= render 'flash' %>
  <table id="logs_table"> 
    <tr>
      <th>Park</th>
      <th>POTA Code</th>
      <th>Date (UTC)</th>
      <th>Contacts</th> 
      <th></th>
    </tr>
    <% logdays=@user.pota_logs %>
    <% if logdays then logdays.sort_by!{|hsh| hsh[:date]}.reverse! end%>
    <% logdays.each do |logday| %>
      <tr>
        <td><%=logday[:name]%></td>
        <td><%=logday[:code]%></td>
        <td><%=logday[:date]%></td>
        <td><%=logday[:count]%></td>
        <% 
            if logday[:submitted]<logday[:count] then submitted_to_pota=false else submitted_to_pota=true end 
        %>
        <td><%=if !submitted_to_pota then  link_to "Submit Log", '/pota_logs/'+logday[:safecode]+"?date="+logday[:date].strftime("%Y%m%d")+"&user="+@user.callsign, class: "btn btn-small btn-primary",remote: true, :onclick => "linkHandler('submit')" else link_to "Resend Log", '/pota_logs/'+logday[:safecode]+"?date="+logday[:date].strftime("%Y%m%d")+"&user="+@user.callsign, class: "btn btn-small btn-primary",remote: true, :onclick => "linkHandler('submit')" end%></td>
      </tr>
    <% end%>
  </table>
</div>

<script>
  document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
</script>
