<script>
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   document.body.classList.remove('loading');
   document.title = '... On the Air'
   document.getElementById('logo').innerHTML='... On The Air'
$(function () {
  $('#right_panel .pagination a').on('click', function () {
    $.getScript(this.href);
    return false;
  });
});


</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <b>Users</b>
     </div>
   <div id="controls">
       <% if current_user and current_user.is_admin %>
            <%=  link_to "Edit Table", '/users/editgrid', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('edit')" %>
            <%=  link_to "Add User", '/users/new', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('add')" %>
            <%=  link_to "Download", '/users.csv', class: "btn btn-small btn-primary"%>
       <% end %>
       <%=render 'map_controls'%>
   </div>
</div>

<div id="right_scroll">
  <%= render 'flash' %>

<%= form_tag '/users', :name => 'findform', :remote => true, :method => 'get', :style => 'margin-bottom: 0px' %>
  <br/>
  <div class="rowtitle">Find:</div>
  <div class="rowtext">
    <input type="text" id="searchtext" name="searchtext" value='<%=@searchtext%>'/>
  </div>
  <div class="buttonshort">
    <%= submit_tag "Find", :id => "find", :class => "btn btn-small", :onclick => "submitHandler('Finding...');" %>
    <%=  link_to "Clear", '/users', class: "btn btn-small", remote: true, :onclick => "linkHandler('clear')"%>

  </div>
</form>

<% if !@searchtext %>
  Your search returned no results.

<% else %>

  <div class="name_pagination"> <%= will_paginate(@users) %></div>

  <table class="places" id="user_table">
    <tr>
      <th>Callsign</th>
      <th>Name</th>
      <th>Contacts</th>
      <th>Registered</th>
      <% if current_user and (current_user.is_admin) %>
        <th>Email</th>
        <th>Admin?</th>
      <% end %>
      <th>Editor</th>
      <th style="text-align:center">
        <%=render :partial => 'filter',  :locals => {:filtername => "active", :formname => "/users"} %>
       Active?
      </th>


    </tr>

    <% if @users then @users.each do |user| %>
      <tr>
        <td>
          <% if current_user and (current_user.is_admin or current_user.id == user.id) %>
            <span title="Click to edit"><%= link_to image_tag("/assets/pencil_edit.png", :class => 'dock-item'), '/users/'+user.callsign+'/edit?referring=index', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton", alt: "Edit"  %></span>
          <% end %>
          <%= link_to user.callsign.upcase, '/users/'+user.callsign, remote: true, :id => 'user_link_'+user.id.to_s, :style => (if not user.activated then 'color:grey' else '' end), :onclick => "linkHandler('user_link_"+user.id.to_s+"')" %>

        </td>

        <td><%= if user.firstname then user.firstname.capitalize else " " end+ " "+if user.lastname then user.lastname.capitalize else " " end%></td>
        <td><%=user.contacts.count%></td>
        <td style="text-align:center"><%= check_box "user", "activated", {:checked => user.activated, :disabled => true} %></td>
        <% if current_user and (current_user.is_admin) %>
          <td><%=user.email%></td>
          <td style="text-align:center"><%= check_box "user", "is_admin", {:checked => user.is_admin, :disabled => true} %></td>
        <% end %>
        <td style="text-align:center"><%= check_box "user", "is_modifier", {:checked => user.is_modifier, :disabled => true} %></td>
        <td style="text-align:center"><%= check_box "user", "is_active", {:checked => user.is_active, :disabled => true} %></td>
      </tr>
    <% end end %>
  </table>
  <div class="name_pagination"> <%= will_paginate(@users) %></div>

</div>
<% end %>

<script>
  document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
</script>

