<div class="erow">
  <div class="sectiontitle" style="margin-top: 12px;">Worked-all-Region Awards: (<%=link_to "show progress", "/users/"+@user.callsign+"/region_progress", remote: true,  :id => 'region_progress', :onclick => "linkHandler('region_progress')" %>)</div>
  <table id="region_award_table">
    <tr>
      <th>Region</th>
      <th>Class</th>
      <th>Activity</th>
      <th>Date awarded</th>
      <th>Date expired</th>
    </tr>

    <%@region_awards.each do |award|%>
      <% this_combo=@regions.select {|d| d.name==award.region.sota_code and d.type==award.award_class} %>
      <% abt=award.region.assets_by_type(award.award_class, award.created_at) %>
      <tr>
        <td><%=link_to award.region.name, '/regions/'+award.region.sota_code+"?section="+award.award_class+"&callsign="+@user.callsign, remote: true,  :id => 'award', :onclick => "linkHandler('award')" %></td>
        <td><%=award.activity_type.capitalize%></td>
        <td><%=link_to award.award_class.capitalize.pluralize+" ("+abt.count.to_s+"/"+abt.count.to_s+")", '/awards/'+award.award_id.to_s, remote: true,  :id => 'award_link', :onclick => "linkHandler('award_link')"%></td>
        <td><%=award.created_at.to_date%></td>
        <td><%=if award.expired then award.expired_at.to_date end%></td>
      </tr>
    <%end%>
  </table>
</div>
