<script> 
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   document.body.classList.remove('loading');
</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <%=  link_to  "Users", '/users', remote: true,  :id => 'users', :onclick => "linkHandler('users')" %>
     &nbsp;--&gt;&nbsp;
     <b><%= @user.callsign.upcase %></b>
   </div>
   <div id="controls">
       <% if current_user and (current_user.is_admin or current_user.id == @user.id) %>
            <%=  link_to "Edit", '/users/'+@user.callsign+'/edit', class: "btn btn-small btn-primary", remote: true, :id => 'edit', :onclick => "linkHandler('edit')" %>
       <% end %>
       <%=  link_to "Index", "/users", class: "btn btn-small btn-primary", remote: true,  :id => 'index', :onclick => "linkHandler('index')" %>
       <%=render 'map_controls'%>
   </div>
</div>


<div id="right_scroll">
   <%= render 'flash' %>

   <div class="sectiontitle" id="page_title">
     <%= @user.callsign.upcase %><br/>
     <br/>
   </div>

   <div class="erow" id="realname">
      <% if @user.activated then %>
         <i>Registered user  </i>
         <% if @user.is_modifier then %>
            <i> - authorised to edit hut and park data </i>
         <% else %>
            <i> - not authorised to edit hut and park data </i>
         <% end %>
      <% else %>
        <i> Not a registered user </i>
      <% end %>
   </div>
   <div class="erow" id="realname">
      <% if(signed_in? and ((@user.id==@current_user.id) or (@current_user.is_admin))) %>
         <%= if @user.firstname then @user.firstname.capitalize else "" end+" "+if @user.lastname then @user.lastname.capitalize else "" end %><br/>
      <% else %>
         <%= if @user.firstname then @user.firstname.capitalize else "" end+" "+if @user.lastname then @user.lastname.capitalize else "" end %><br/>
      <% end %>
   </div>

   <%     if(signed_in? and ((@user.id==@current_user.id) or (@current_user.is_admin))) %>
     <div class="erow" id="PIN">
         PIN*: <%= @user.pin %>
     </div>

     <div class="erow" id="email">
         Email: <%= @user.email %>
     </div>

     <div class="erow" id="home_qth">
         Home QTH: <%= @user.home_qth %>
     </div>

   <%end%>
     <div class="erow" id="email">
         Timezone: <%= @user.timezonename %>
     </div>
</div>

<%     if(signed_in? and ((@user.id==@current_user.id) or (@current_user.is_admin))) %>
  <p><i><br/>* PIN is used for access to the Inreach/Email SPOT / ALERT gateway.</i></p>
<% end %>

<div class="erow">
   <div class="hrline">
      <hr noshade size="4">
   </div>
</div>

<% if current_user and (@user==current_user or current_user.is_admin or current_user.group_admin) then %>
   <p>Select the topics for which you would like to receive emails of any new posts</p>
   <table>
     <tr>
        <th>Topic</th>
        <th>Email</th>
        <th>&nbsp;</th>
     </tr>
       <tr>
         <% topic=Topic.find_by_id(SPOT_TOPIC) %>
         <td> SPOTS </td>
         <td> <%=if topic.subscribed(@user) then "Yes" else "No" end %></td>
<% if topic.subscribed(@user) then %>
         <td> <%=  link_to "Delete", '/users/'+@user.callsign+'/delete?topic_id='+topic.id.to_s, class: "btn btn-small btn-primary", remote: true,  :id => 'delete_spot', :onclick => "linkHandler('delete_spot')"  %> </td>
<% else %>
         <td> <%=  link_to "Add", '/users/'+@user.callsign+'/add?topic_id='+topic.id.to_s, class: "btn btn-small btn-primary", remote: true,  :id => 'add_spot', :onclick => "linkHandler('add_spot')"  %> </td>
<% end %>
       <tr>
       <tr>
         <% topic=Topic.find_by_id(ALERT_TOPIC) %>
         <td> ALERTS </td>
         <td> <%=if topic.subscribed(@user) then "Yes" else "No" end %></td>
<% if topic.subscribed(@user) then %>
         <td> <%=  link_to "Delete", '/users/'+@user.callsign+'/delete?topic_id='+topic.id.to_s, class: "btn btn-small btn-primary", remote: true,  :id => 'delete__alert', :onclick => "linkHandler('delete_alert')"  %> </td>
<% else %>
         <td> <%=  link_to "Add", '/users/'+@user.callsign+'/add?topic_id='+topic.id.to_s, class: "btn btn-small btn-primary", remote: true,  :id => 'add_alert', :onclick => "linkHandler('add_alert')"  %> </td>
<% end %>
       </tr>
       <tr>
         <% topic=Topic.find_by_id(NEWS_TOPIC) %>
         <td> NEWS </td>
         <td> <%=if topic.subscribed(@user) then "Yes" else "No" end %></td>
<% if topic.subscribed(@user) then %>
         <td> <%=  link_to "Delete", '/users/'+@user.callsign+'/delete?topic_id='+topic.id.to_s, class: "btn btn-small btn-primary", remote: true,  :id => 'delete__alert', :onclick => "linkHandler('delete_alert')"  %> </td>
<% else %>
         <td> <%=  link_to "Add", '/users/'+@user.callsign+'/add?topic_id='+topic.id.to_s, class: "btn btn-small btn-primary", remote: true,  :id => 'add_alert', :onclick => "linkHandler('add_alert')"  %> </td>
<% end %>
       </tr>
   </table>
<div class="erow">
   <div class="hrline">
      <hr noshade size="4">
   </div>
</div>
<% end %>

<div class="erow">
   <div class="hrline">
      <hr noshade size="4">
   </div>
</div>

<% assets=@user.assets_all %>
<% ats=AssetType.where(keep_score: true)
   qrp=AssetType.new
   qrp.name='qrp'
   ats << qrp %>
<% ats.each do |at| %>

  <% if (assets[:a][at.name] and assets[:a][at.name].count>0) or (assets[:c][at.name] and assets[:c][at.name].count>0) then %>

    <div class="erow">
      <div class="sectiontitle" style="margin-top: 12px;"><%=if at.name == 'qrp' then "QRP" else at.name.capitalize.pluralize end%>:</div>
      <ul>
        <li><a href="#" class="link_to" remote=true onclick='expand_div("bagged_<%=at.name%>");return(false);'> Bagged: <%=(assets[:a][at.name]+assets[:c][at.name]).uniq.count%> unique <b class="caret" style="vertical-align: middle"></b> </a></li>
        <div style="display:none" id="bagged_<%=at.name%>">
          <% as=Asset.where("code in ('"+(assets[:a][at.name]+assets[:c][at.name]).uniq.join("','")+"')") %>
          <% count=0; as.order(:name).each do |a|; count+=1 %>
            <%= if count>1 then ', ' end %>
            <%=link_to a.name, '/assets/'+a.safecode, remote: true,  :id => 'asset', :onclick => "linkHandler('asset')" %>
          <% end %>
        </div>

        <li><a href="#" class="link_to" remote=true onclick='expand_div("chased_<%=at.name%>");return(false);'> Chased: <%=assets[:c][at.name].uniq.count%> unique (<%=assets[:ct][at.name].uniq.count%> total) <b class="caret" style="vertical-align: middle"></b> </a></li>
        <div style="display:none" id="chased_<%=at.name%>">
          <% as=Asset.where("code in ('"+assets[:c][at.name].uniq.join("','")+"')") %>
          <% count=0; as.order(:name).each do |a|; count+=1 %>
            <%= if count>1 then ', ' end %>
            <%=link_to a.name, '/assets/'+a.safecode, remote: true,  :id => 'asset', :onclick => "linkHandler('asset')" %>
          <% end %>
        </div>
  
        <li><a href="#" class="link_to" remote=true onclick='expand_div("activated<%=at.name%>");return(false);'> Activated: <%=assets[:a][at.name].uniq.count%> unique (<%=assets[:at][at.name].uniq.count%> total) <b class="caret" style="vertical-align: middle"></b> </a></li>
          <div style="display:none" id="activated<%=at.name%>">
          <% as=Asset.where("code in ('"+assets[:a][at.name].uniq.join("','")+"')") %>
          <% count=0; as.order(:name).each do |a|; count+=1 %>
            <%= if count>1 then ', ' end %>
            <%=link_to a.name, '/assets/'+a.safecode, remote: true,  :id => 'asset', :onclick => "linkHandler('asset')" %>
          <% end %>
        </div>
      </ul>
    </div>
  <% end %>
<% end %>


<% assets=@user.get_p2p_all %>
<div class="erow">
  <div class="sectiontitle" style="margin-top: 12px;">P2P:</div>
  <ul>
    <li><a href="#" class="link_to" remote=true onclick='expand_div("bagged_p2p");return(false);'> Contacts: <%=assets.count%> <b class="caret" style="vertical-align: middle"></b> </a></li>
    <div style="display:none" id="bagged_p2p">
      <ul>
      <% count=0; assets.sort.each do |a|; count+=1 %>
        <% a_arr=a.split(' ') %>
        <% contact=Contact.get_by_p2p(@user.callsign, a_arr[0], a_arr[1], a_arr[2]) %>
        <% if contact then contact_id=contact.id.to_s else contact_id="" end %>
        <li><%=link_to a_arr[0]+" -> "+a_arr[1]+" ("+a_arr[2]+")", '/contacts/'+contact_id, remote: true,  :id => 'asset', :onclick => "linkHandler('asset')" %></li>
      <% end %>
      </ul>
    </div>
  </ul>
</div>
<div class="erow">
   <div class="hrline">
      <hr noshade size="4">
   </div>
</div>


<div class="erow">
  <div class="sectiontitle">Contacts: <%=link_to @user.contacts.count.to_s+" (view)", '/contacts?user='+@user.callsign, remote: true,  :id => 'contacts', :onclick => "linkHandler('contacts')" %></div>
  <div class="sectiontitle">Logs: <%=link_to @user.logs.count.to_s+" (view)", '/logs?user='+@user.callsign, remote: true,  :id => 'logs', :onclick => "linkHandler('logs')" %></div>
</div>

<div class="erow">
   <div class="hrline">
      <hr noshade size="4">
   </div>
</div>
<script>
  <% count=0 %>
  <% if @contacts then @contacts.each do |contact| %>
      <% if @user and @user.callsign==contact.callsign2 then
            l2=contact.location1
            l1=contact.location2
         else
            l1=contact.location1
            l2=contact.location2
         end
      %>
      <% if l1 then %> 
           map_add_feature_from_wkt('<%=l1%>', 'EPSG:4326',site_green_circle);
      <% end %>
      <% if l2 then %>
           map_add_feature_from_wkt('<%=l2%>', 'EPSG:4326',site_red_circle);
      <% end %>

      <% count=count+1 %>
  <% end end %>
  document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
</script>
