<script> 
  reset_map_controllers();
  document.getElementById("page_status").innerHTML = '';
  document.body.classList.remove('loading');
</script>

<div id="actionbar" class="span7">
  <div id="crumbs">
    <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
    &nbsp;--&gt;&nbsp;
    <%=  link_to  "Users", '/users', remote: true,  :id => 'users', :onclick => "linkHandler('users')" %>
    &nbsp;--&gt;&nbsp;
    <%= link_to @user.callsign.upcase, '/users/'+@user.callsign, remote: true,  :id => 'users', :onclick => "linkHandler('users')" %>
&nbsp;--&gt;&nbsp;
    <b>Stats</b>
  </div>

  <div id="controls">
    <%=  link_to "Index", "/users", class: "btn btn-small btn-primary", remote: true,  :id => 'index', :onclick => "linkHandler('index')" %>
    <%=render 'map_controls'%>
  </div>
</div>


<div id="right_scroll">
  <%= render 'flash' %>

  <div class="sectiontitle" id="page_title">
    <b> <%=@user.callsign.upcase %> </b> <a href="https://qrz.com/db/<%=@user.callsign.upcase %>" target="_blank"> <img src="https://static.qrz.com/static/qrz/qrz_com.svgz" border="1" height="25" width="25" alt="QRZ"> </a> <a href="https://www.hamqth.com/<%=@user.callsign.upcase %>" target="_blank"> <img src="https://www.hamqth.com/images/hamqth_125x125.png" border="1" height="25" width="25" alt="HamQTH"> </a>  <img src="/assets/external-link-symbol.png"><br/>
    <br/>
  </div>

  <div class="erow" id="awards_box">
    <h2>Statistics</h2>
  </div>

  <% 
    ats=AssetType.where(keep_score: true)
    qrp=AssetType.new
    qrp.name='qrp'
    ats << qrp  
  %>

  <% ats.each do |at| %>
    <div class="erow" id="<%=at.name.pluralize%>">
      <div class="sectiontitle" style="margin-top: 12px;"><%=if at.name == 'qrp' then "QRP" else at.name.capitalize.pluralize end%>:</div>
      <ul>
        <li><%=link_to "Bagged: "+(@user.score[at.name]||0).to_s+" unique", '/users/'+@user.callsign+"/assets?asset_type="+at.name+"&count_type=bagged", remote: true,  :id => "#{at.name.pluralize}_bagged", :onclick => "linkHandler('bagged')"%></li>
        <li><%=link_to "Activated: "+(@user.activated_count[at.name]||0).to_s+" unique ("+(@user.activated_count_total[at.name]||0).to_s+" total)", '/users/'+@user.callsign+"/assets?asset_type="+at.name+"&count_type=activated", remote: true,  :id => "#{at.name.pluralize}_activated", :onclick => "linkHandler('activated')"%></li>
        <li><%=link_to "Qualified: "+(@user.qualified_count[at.name]||0).to_s+" unique ("+(@user.qualified_count_total[at.name]||0).to_s+" total)", '/users/'+@user.callsign+"/assets?asset_type="+at.name+"&count_type=activated", remote: true,  :id => "#{at.name.pluralize}_qualified", :onclick => "linkHandler('qualified')"%></li>
        <li><%=link_to "Chased: "+(@user.chased_count[at.name]||0).to_s+" unique ("+(@user.chased_count_total[at.name]||0).to_s+" total)", '/users/'+@user.callsign+"/assets?asset_type="+at.name+"&count_type=chased", remote: true,  :id => "#{at.name.pluralize}_chased", :onclick => "linkHandler('chased')"%></li>
      </ul>
    </div>
  <% end %>

  <div class="erow" id="NZ Summit elevations">
    <div class="sectiontitle" style="margin-top: 12px;">NZ Summit elevations:</div>
    <ul>
      <li><%=link_to "Bagged: "+number_with_precision((@user.score["elevation"]||0).to_f/1000,:precision => 1, :delimiter => ',').to_s+" km unique", '/users/'+@user.callsign+"/assets?asset_type=summit&count_type=bagged", remote: true,  :id => "summits_bagged", :onclick => "linkHandler('bagged')"%></li>
      <li><%=link_to "Activated: "+number_with_precision((@user.activated_count["elevation"]||0).to_f/1000, :precision => 1, :delimiter => ',').to_s+" km ("+number_with_precision((@user.activated_count_total["elevation"]||0).to_f/1000, :precision => 1, :delimiter => ',').to_s+" km total)", '/users/'+@user.callsign+"/assets?asset_type=summit&count_type=activated", remote: true,  :id => "summits_activated", :onclick => "linkHandler('activated')"%></li>
      <li><%=link_to "Chased: "+number_with_precision((@user.chased_count["elevation"]||0).to_f/1000, :precision => 1, :delimiter => ',').to_s+" km ("+number_with_precision((@user.chased_count_total["elevation"]||0).to_f/1000, :precision => 1, :delimiter => ',').to_s+" km total)", '/users/'+@user.callsign+"/assets?asset_type=summit&count_type=chased", remote: true,  :id => "summits_chased", :onclick => "linkHandler('chased')"%></li>
    </ul>
  </div>

  <% assets=@user.get_p2p_all %>

  <div class="erow">
    <div class="sectiontitle" style="margin-top: 12px;">P2P:</div>
    <ul>
      <li><%=link_to "Contacts: "+assets.count.to_s, '/users/'+@user.callsign+"/p2p", remote: true,  :id => 'p2p_count', :onclick => "linkHandler('users')"%></li>
    </ul>
  </div>

  <div class="erow">
    <div class="hrline">
      <hr noshade size="4">
    </div>
  </div>

  <div class="erow" id="logs_box">
    <h2>Logs</h2>
    <% if signed_in? %>
      <%=link_to "Show "+@user.logs.count.to_s+" logs", '/logs?user='+@user.callsign, remote: true,  :id => 'logs_link', :onclick => "linkHandler('logs_link')"  %>
    <% else %>
      <i>Sign in to see <%=@user.logs.count.to_s%> logs</i>
    <% end %>
  </div>

  <div class="erow">
    <div class="hrline">
      <hr noshade size="4">
    </div>
  </div>

  <div class="erow" id="contacts_box">
    <h2>Contacts</h2>
    <% if signed_in? %>
      <%=link_to "Show "+@user.contacts.count.to_s+" contacts", '/contacts?user='+@user.callsign, remote: true,  :id => 'contacts_link', :onclick => "linkHandler('contacts_link')"  %>
    <% else %>
      <i>Sign in to see <%=@user.contacts.count.to_s%> contacts</i>
    <% end %>
  </div>

  <div class="erow">
    <div class="hrline">
      <hr noshade size="4">
    </div>
  </div>


</div>

<script>
  <% if @chaseSites then @chaseSites.each do |chaseSite| %>
      <% if chaseSite.location then %> map_add_feature_from_wkt('<%=chaseSite.location%>', 'EPSG:4326',site_red_circle); <% end %>
  <% end end %>
  <% if @qualifySites then @qualifySites.each do |qualifySite| %>
      <% if qualifySite.location then %> map_add_feature_from_wkt('<%=qualifySite.location%>', 'EPSG:4326',site_green_circle); <% end %>
  <% end end %>
  <% if @activationSites then @activationSites.each do |activationSite| %>
      <% if activationSite.location then %> map_add_feature_from_wkt('<%=activationSite.location%>', 'EPSG:4326',site_yellow_circle); <% end %>
  <% end end %>
  document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
</script>
