
<script> 
  document.getElementById("page_status").innerHTML = '';
  document.body.classList.remove('loading');
</script>

<%= javascript_include_tag('rsa/jsbn', 'rsa/prng4', 'rsa/rng', 'rsa/rsa', 'rsa/base64', :cache => true) %>

<div class="fullform">
  <%= form_for(@user) do |f| %>
    <div id="actionbar" class="span7">
      <div id="crumbs">
        <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
        &nbsp;--&gt;&nbsp;
        <%=  link_to  "Users", '/users', remote: true,  :id => 'users', :onclick => "linkHandler('users')" %>
        &nbsp;--&gt;&nbsp;
        <%if @user.id%>
          <b><%=link_to @user.callsign.upcase, '/users/'+@user.callsign, remote: true, :id => 'user', :onclick => "linkHandler('user')" %></b>
          &nbsp;--&gt;&nbsp;
          <b>Edit</b>
        <% else %>
          <b>New</b>
        <% end %>
      </div>

      <div id="controls">
        <% if @user.id %>
          <% if params[:referring]=='index'%>
            <%=  link_to "Cancel", '/users', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('cancel')" %>
          <% else %>
            <%=  link_to "Cancel", '/users/'+@user.callsign, class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('cancel')" %>
          <% end %> 
        <% end %>

        <%=render 'map_controls'%>
      </div>
    </div>

    <div id="right_scroll">
      <%= render 'flash' %>
      <%= render 'shared/error_messages' %>

      <%= f.label :callsigm %>
      <%= f.text_field :callsign %>

      <%= f.label :firstname, "First name" %>
      <%= f.text_field :firstname %>

      <%= f.label :lastname, "Last name" %>
      <%= f.text_field :lastname %>

      <%= f.label :email %>
      <%= f.text_field :email %>
      <p><i>Note that due to their email rejection policies, we are unable to accept email address with the following providers: 
        <%= EmailBlacklist.all.map{|ep| ep.email_provider}.join(',') %>
      </i></p>

      <%= f.label "Home QTH" %>
      <%= f.text_field :home_qth %>

      <%= f.label :timezone, 'Timezone you will use in logs, spots, etc' %>
      <%= collection_select( :user, :timezone, Timezone.all.order(:name), :id, :name, {}) %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      <div class="erow"><small><i>Password rules: any combination of letters and numbers. No spaces or extended characters<br/></i></small></div>

      <%= f.label :pin, "PIN" %>
      <%= f.text_field :pin %>
      <div class="erow"><i><small>PIN is for access to the SPOT/ALERT gateway from inreach/email only. PIN rules: any 4-character combination of letters and numbers. No spaces or extended characters. InReach may send messages containing your PIN across the internet as unencrypted plain-text or display them to others with access to your InReach web portal. Do not reuse PINs you use elsewhere.<br/></small></i></div> 


      <%= f.label :push_app_token, "PushOver App ID" %>
      <%= f.text_field :push_app_token %>
      <div class="erow"><i><small>This is the App ID or App token you have created in pushover for ontheair (only used for receiving notifications)<br/></small></i></div> 

      <%= f.label :push_user_token, "PushOver User Token" %>
      <%= f.text_field :push_user_token %>
      <div class="erow"><i><small>This is the user token associated with your account at pushover (only used for receiving notifications)<br/></small></i></div> 


      <%= f.label :acctnuyber, "Mobile phone (for SMS gateway)" %>
      <%= f.text_field :acctnumber %>
      <div class="erow"><i><small>E.164 (International) format, no spaces. e.g: +64271234567<br/></small></i></div>

      <span title="All activations falling in a POTA park will be sent to the POTA spotting cluster. By selecting this option you commit to submit logs to POTA for all activations that fall in parks. "><%= "Also publish my SPOTs on POTA when in a park" %></span><br/>
      <%= f.check_box :logs_pota%><br/><br/>

      <span title="All activations falling in a WWFF park will be sent to the WWFF spotting cluster. By selecting this option you commit to submit logs to WWFF for all activations that fall in parks. "><%= "Also publish my SPOTs on WWFF when in a park" %></span><br/>
      <%= f.check_box :logs_wwff%><br/><br/>

      <%= f.submit @submit_button, id: "submit", onclick: "signupHandler();", class: "btn btn-small btn-primary btn-highlight" %>
      <%  if(@submit_button == "Save Changes" and current_user and current_user.is_admin) %>
        <%= f.submit "Delete", confirm: "Delete user: Are you sure?", class: "btn btn-small btn-primary", name: "delete", id:  "deletebutton", remote: true %>
      <% end %>

      <div class="erow"><small><i>By registering to this site you are agreeing to our privacy and security policy. Details are available on the <%=link_to 'About', '/about', target: '_blank'%> page</i></small></div>
    </div>
  <% end %>
</div>

<script>
  document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
</script>


