
<script> 
   document.getElementById("page_status").innerHTML = '';
</script>

<%= javascript_include_tag('rsa/jsbn', 'rsa/prng4', 'rsa/rng', 'rsa/rsa', 'rsa/base64', :cache => true) %>

<div class="fullform">
    <%= form_for(@user) do |f| %>
      <div id="actionbar" class="span7">
       <div id="crumbs">
         <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
         &nbsp;--&gt;&nbsp;
         <%=  link_to  "Users", '/users', remote: true,  :id => 'users', :onclick => "linkHandler('users')" %>
         &nbsp;--&gt;&nbsp;
         <%if @user.id%>
            <b><%=link_to @user.callsign.upcase, '/users/'+@user.callsign, remote: true, :id => 'user', :onclick => "linkHandler('user')" %>
            &nbsp;--&gt;&nbsp;
            <b>Edit</b>
         <% else %>
            <b>New</b>
         <% end %>

       </div>

       <div id="controls">
          <% if @user.id %><% if params[:referring]=='index'%>
            <%=  link_to "Cancel", '/users', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('cancel')" %>
          <% else %>
            <%=  link_to "Cancel", '/users/'+@user.callsign, class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('cancel')" %>
          <% end %> <% end %>

          <%  if(@submit_button == "Save Changes" and @current_user.is_admin) %>
            <%= f.submit "Delete", confirm: "Delete user: Are you sure?", class: "btn btn-small btn-primary", callsign: "delete", id:  "deletebutton", remote: true %>
          <% end %>

          <%=render 'map_controls'%>
       </div>
      </div>

      <%= render 'shared/error_messages' %>	

      <div id="right_scroll">
      <%= render 'flash' %>
      <%= render 'shared/error_messages' %>

      Callsign:
      <%= f.text_field :callsign %>

      <%= "First name" %>
      <%= f.text_field :firstname %>

      <%= "Last name" %>
      <%= f.text_field :lastname %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label "Home QTH" %>
      <%= f.text_field :home_qth %>

      <%= f.label :timezone, 'Timezone you will use in logs, spots, etc' %>
      <%= collection_select( :user, :timezone, Timezone.all.order(:name), :id, :name, {}) %></td>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

<div class="erow"><i>Password rules: any combination of letters and numbers. No spaces or extended characters</i></div>

      <%= f.label :pin, "PIN" %>
      <%= f.text_field :pin %>

<div class="erow"><i>PIN is for access to the SPOT/ALERT gateway from inreach/email only. PIN rules: any 4-character combination of letters and numbers. No spaces or extended characters. InReach may send messages containing your PIN across the internet as unencrypted plain-text or display them to others with access to your InReach web portal. Do not reuse PINs you use elsewhere.</i></div> 

      <%= f.submit @submit_button, onclick: "signupHandler();", class: "btn btn-small btn-primary btn-highlight" %>
    </div>


    <% end %>
  </div>
<script>
  document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
</script>


