<div class="fullform">
   <%= form_for @contact, remote: true, :html => {:name => 'contactform'} do |f| %>
    <div id="actionbar-form" class="span7">
       <div id="crumbs">
         <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
         &nbsp;--&gt;&nbsp;
         <%=  link_to  "Contacts:", '/contacts', remote: true,  :id => 'contacts', :onclick => "linkHandler('contacts')" %>
         &nbsp;--&gt;&nbsp;
         <%if @contact.id%> 
            <b><%=link_to @contact.id.to_s, '/contacts/'+@contact.id.to_s, remote: true, :id => 'contact', :onclick => "linkHandler('contact')" %>
            &nbsp;--&gt;&nbsp;
            <b>Edit</b>
         <% else %>
            <b>New</b>
         <% end %>
       </div>
       <div id="controls">
          <%= f.submit @submit_button, class: "btn btn-small btn-primary btn-highlight" %>
          <%  if(@submit_button == "Save Changes" and current_user) %>
            <%= f.submit "Delete", confirm: "Delete contact: Are you sure?", class: "btn btn-small btn-primary", name: "delete", id:  "deletebutton", remote: true %>
          <% end %>
          <% if params[:referring]=='index'%>
            <%=  link_to "Cancel", '/contacts', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('cancel')" %>
          <% else %>
            <%=  link_to "Cancel", '/contacts/'+@contact.id.to_s, class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('cancel')" %>
          <% end %>
          <%=  link_to "Show/Hide Map", "#", class: "btn btn-small btn-primary",   :onclick => "toggle_map(); return false;"%>
       </div>
    </div>

    <div id="right_scroll">
      <%= hidden_field_tag(:referring, @referring) %>
      <%= render 'flash' %>
      <%= render 'shared/error_messages' %>

      <div class="sectiontitle">Contact ID</div>
      <%if current_user and current_user.is_admin%><%= f.text_field :id %><%else%><%= f.text_field :id, readonly: true %><% end %>

      <div class="sectiontitle">First Party Callsign</div>
      <%= f.text_field :callsign1 %>

      <div class="sectiontitle">Second Party Callsign</div>
      <%= f.text_field :callsign2 %>
<table>
  <tr>
      <td><div class="sectiontitle">Date</div> <%= f.date_field :date %></td>
      <td><div class="sectiontitle">Time</div> <%= f.time_field :time %></td>
      <td><div class="sectiontitle">Timezone</div><%= collection_select( :contact, :timezone, Timezone.all.order(:name), :id, :name, {}, {}) %></td>

  </tr>
  <tr>
      <td> <div class="sectiontitle">Frequency (MHz)</div> <%= f.text_field :frequency %></td>

      <td><div class="sectiontitle">Mode</div> <%= f.text_field :mode %></td>
  </tr>
</table>

      <div class="erow">
         <div class="hrline">
            <hr noshade size="4">
         </div>
      </div>

      <div class="erow">
        <div class="sectiontitle_bold">First Party details</div>
      </div>
      <table>
        <tr>
            <td> <div class="sectiontitle">QRP?  </div> <%= f.check_box :is_qrp1%></td>
            <td> <div class="sectiontitle">Portable?  </div> <%= f.check_box :is_portable1%></td>
        </tr>
      </table>


      <div class="sectiontitle">Signal reported by second party</div>
      <%= f.text_field :signal1 %>

      <div class="erow"><div class="rowtitle">Hut</div>
        <%=  link_to "Select from list", '/query?hutfield=hut1', class: "btn btn-small", :remote => true,  :onclick => "search_huts('hut1')" %>
        <%=  link_to "Select from map", '#', class: "btn btn-small",  :onclick => "site_selectPlace(null,'contact_hut1_id', 'hut1_name', 'contact_location1', 'contact_x1', 'contact_y1', null, null, site_green_star);return false;" %>
        <%=  link_to "Clear", '#', class: "btn btn-small", :onclick => "site_clear_element(['contact_hut1_id', 'hut1_name', 'contact_location1', 'contact_x1', 'contact_y1']);map_clear_scratch_layer(null,site_green_star);return false;" %>
      </div>

      <div class="roxtext">
        <input type="text" id="hut1_name" name="hut1_name" value='<%=(if @contact.hut1 then @contact.hut1.name else "" end)%>' readonly='true'>

      <%= f.text_field :hut1_id, :readonly => true, :style => 'display:none' %>

      </div>
 
      <div class="erow"><div class="rowtitle">Summit</div>
        <%=  link_to "Select from list", '/querysummit?summitfield=summit1', class: "btn btn-small", :remote => true,  :onclick => "search_summits('summit1')" %>
        <%=  link_to "Select from map", '#', class: "btn btn-small",  :onclick => "site_selectSummit(null,'contact_summit1_id', 'summit1_name', 'contact_location1', 'contact_x1', 'contact_y1', null, null, site_green_star);return false;" %>
        <%=  link_to "Clear", '#', class: "btn btn-small", :onclick => "site_clear_element(['contact_summit1_id', 'summit1_name', 'contact_location1', 'contact_x1', 'contact_y1']);map_clear_scratch_layer(null,site_green_star);return false;" %>
      </div>

      <div class="roxtext">
        <input type="text" id="summit1_name" name="summit1_name" value='<%=(if @contact.summit1 then @contact.summit1.name else "" end)%>' readonly='true'>

      <%= f.text_field :summit1_id, :readonly => true, :style => 'display:none' %>

      </div>
 

      <div class="erow"><div class="rowtitle">Park</div>
        <%=  link_to "Select from list", '/querypark?parkfield=park1', class: "btn btn-small", :remote => true,  :onclick => "search_parks('park1')" %>
        <%=  link_to "Select from map", '#', class: "btn btn-small",  :onclick => "site_selectPark(null,'contact_park1_id', 'park1_name',  null, null, site_green_polygon);return false;" %>
        <%=  link_to "Clear", '#', class: "btn btn-small", :onclick => "site_clear_element(['contact_park1_id', 'park1_name']);map_clear_scratch_layer(null, site_green_polygon);return false;" %>
      </div>
      <div class="roxtext">
        <input type="text" id="park1_name" name="park1_name" value='<%=(if @contact.park1 then @contact.park1.name else "" end)%>' readonly='true'>

      <%= f.text_field :park1_id, :readonly => true, :style => 'display:none' %>
      </div>
      <div class="erow"><div class="rowtitle">Island</div>
        <%=  link_to "Select from list", '/queryisland?islandfield=island1', class: "btn btn-small", :remote => true,  :onclick => "search_islands('island1')" %>
        <%=  link_to "Select from map", '#', class: "btn btn-small",  :onclick => "site_selectIsland(null,'contact_island1_id', 'island1_name',  null, null, site_green_star);return false;" %>
        <%=  link_to "Clear", '#', class: "btn btn-small", :onclick => "site_clear_element(['contact_island1_id', 'island1_name']);map_clear_scratch_layer(null, site_green_polygon);return false;" %>
      </div>
      <div class="roxtext">
        <input type="text" id="island1_name" name="island1_name" value='<%=(if @contact.island1 then @contact.island1.name else "" end)%>' readonly='true'>

      <%= f.text_field :island1_id, :readonly => true, :style => 'display:none' %>
      </div>

     <div class="erow">
         <div class="rowtitle">NZTM2000 Reference:</div>
         <div id="placeplus" style="display:block"> <a class="btn btn-small" href="#" onclick="site_drawPlace('placetick', 'placeplus', 'contact_location1', 'contact_x1', 'contact_y1',site_green_star); return false;">Select</a></div>
         <div id="placetick" style="display:none"> <a class="btn btn-small" href="#" onclick="site_selectNothing('placetick', 'placeplus'); return false;">Confirm</a></div>
      </div>
      <%= f.hidden_field :location1, :readonly => true %>

      <table>
        <tr>
           <td>E<%= f.text_field :x1, :size => 8 %></td><td>N<%= f.text_field :y1, :size => 8 %></td>
         </tr>
      </table>


<div id="your_details" style='display:none'>
      <div class="sectiontitle">Altitude (leave blank to calculate from map upon save):</div>
      <%= f.text_field :altitude1 %>

      <div class="sectiontitle">Location description</div>
      <%= f.text_field :loc_desc1 %>
       
      <div class="sectiontitle">Power tx</div>
      <%= f.text_field :power1 %>

      <div class="sectiontitle">Transceiver</div>
      <%= f.text_field :transceiver1 %>

      <div class="sectiontitle">Antenna</div>
      <%= f.text_field :antenna1 %>

      <div class="sectiontitle">Comments / Notes</div>
      <%= f.text_area :comments1 %>

</div>

      <%=render :partial => 'expand_buttons',  :locals => {:expName => "your_details", :initialSt => 0} %>

      <div class="erow">
         <div class="hrline">
            <hr noshade size="4">
         </div>
      </div>


      <div class="erow"><div class="sectiontitle_bold">Second party details</div></div>

      <table>
        <tr>
            <td> <div class="sectiontitle">QRP?</div> <%= f.check_box :is_qrp2%></td>
            <td> <div class="sectiontitle">Portable?</div> <%= f.check_box :is_portable2%></td>
        </tr>
      </table>

      <div class="sectiontitle">Signal reported by 1st party</div>
      <%= f.text_field :signal2 %>

      <div class="sectiontitle">Location</div>
      <%= f.text_field :loc_desc2 %>


      <div id="other_details" style='display:none'>

      <div class="erow"><div class="rowtitle">Hut</div>
        <%=  link_to "Select from list", '/query?hutfield=hut2', class: "btn btn-small", :remote => true,  :onclick => "search_huts('hut2')" %>
        <%=  link_to "Select from map", '#', class: "btn btn-small",  :onclick => "site_selectPlace(null,'contact_hut2_id', 'hut2_name', 'contact_location2', 'contact_x2', 'contact_y2', null, null, site_red_star);return false;" %>
        <%=  link_to "Clear", '#', class: "btn btn-small", :onclick => "site_clear_element(['contact_hut2_id','hut2_name', 'contact_location2','contact_x2', 'contact_y2']);map_clear_scratch_layer(null,site_red_star);return false;" %>
      </div>
      <div class="roxtext">
        <input type="text" id="hut2_name" name="hut2_name" value='<%=(if @contact.hut2 then @contact.hut2.name else "" end)%>' readonly='true'>

      <%= f.text_field :hut2_id, :readonly => true, :style => 'display:none' %>
      </div>

     <div class="erow"><div class="rowtitle">Summit</div>
        <%=  link_to "Select from list", '/querysummit?summitfield=summit2', class: "btn btn-small", :remote => true,  :onclick => "search_summits('summit2')" %>
        <%=  link_to "Select from map", '#', class: "btn btn-small",  :onclick => "site_selectSummit(null,'contact_summit2_id', 'summit2_name', 'contact_location2', 'contact_x2', 'contact_y2', null, null, site_green_star);return false;" %>
        <%=  link_to "Clear", '#', class: "btn btn-small", :onclick => "site_clear_element(['contact_summit2_id', 'summit2_name', 'contact_location2', 'contact_x2', 'contact_y2']);map_clear_scratch_layer(null,site_green_star);return false;" %>
      </div>
      <div class="roxtext">
        <input type="text" id="summit2_name" name="summit2_name" value='<%=(if @contact.summit2 then @contact.summit2.name else "" end)%>' readonly='true'>

      <%= f.text_field :summit2_id, :readonly => true, :style => 'display:none' %>

      </div>


      <div class="erow"><div class="rowtitle">Park</div>
        <%=  link_to "Select from list", '/querypark?parkfield=park2', class: "btn btn-small", :remote => true,  :onclick => "search_parks('park2')" %>
        <%=  link_to "Select from map", '#', class: "btn btn-small",  :onclick => "site_selectPark(null,'contact_park2_id', 'park2_name',  null, null, site_red_polygon);return false;" %>
      <%=  link_to "Clear", '#', class: "btn btn-small", :onclick => "site_clear_element(['contact_park2_id', 'park2_name']);map_clear_scratch_layer(null, site_red_polygon);return false;" %>
      </div>
      <div class="roxtext">
        <input type="text" id="park2_name" name="park2_name" value='<%=(if @contact.park2 then @contact.park2.name else "" end)%>' readonly='true'>

      <%= f.text_field :park2_id, :readonly => true, :style => 'display:none' %>
      </div>

      <div class="erow"><div class="rowtitle">Island</div>
        <%=  link_to "Select from list", '/queryisland?islandfield=island2', class: "btn btn-small", :remote => true,  :onclick => "search_islands('island2')" %>
        <%=  link_to "Select from map", '#', class: "btn btn-small",  :onclick => "site_selectIsland(null,'contact_island2_id', 'island2_name',  null, null, site_green_star);return false;" %>
        <%=  link_to "Clear", '#', class: "btn btn-small", :onclick => "site_clear_element(['contact_island2_id', 'island2_name']);map_clear_scratch_layer(null, site_green_polygon);return false;" %>
      </div>
      <div class="roxtext">
        <input type="text" id="island2_name" name="island2_name" value='<%=(if @contact.island2 then @contact.island2.name else "" end)%>' readonly='true'>

      <%= f.text_field :island2_id, :readonly => true, :style => 'display:none' %>
      </div>

     <div class="erow">
         <div class="rowtitle">NZTM2000 Reference:</div>
         <div id="placeplus2" style="display:block"> <a class="btn btn-small" href="#" onclick="site_drawPlace('placetick2', 'placeplus2', 'contact_location2', 'contact_x2', 'contact_y2',site_red_star);return false;">Select</a></div>
         <div id="placetick2" style="display:none"> <a class="btn btn-small" href="#" onclick="site_selectNothing('placetick2', 'placeplus2'); return false;">Confirm</a></div>
      </div>
      <%= f.hidden_field :location2, :readonly => true %>

      <table>
        <tr>
           <td>E<%= f.text_field :x2, :size => 8 %></td><td>N<%= f.text_field :y2, :size => 8 %></td>
         </tr>
      </table>

      <div class="sectiontitle">Altitude (leave blank to calculate from map upon save):</div>
      <%= f.text_field :altitude2 %>

      <div class="sectiontitle">Power tx</div>
      <%= f.text_field :power2 %>

      <div class="sectiontitle">Transceiver</div>
      <%= f.text_field :transceiver2 %>

      <div class="sectiontitle">Antenna</div>
      <%= f.text_field :antenna2 %>

      <div class="sectiontitle">Comments / Notes</div>
      <%= f.text_area:comments2 %>

</div>
      <%=render :partial => 'expand_buttons',  :locals => {:expName => "other_details", :initialSt => 0} %>

      <div class="erow">
         <div class="hrline">
            <hr noshade size="4">
         </div>
      </div>

      <div class="erow">
      <%= "Active? " %><br/>
      <% if current_user and current_user.is_admin%> 
        <%= f.check_box :is_active%><br/><br/>
      <% else %>
        <%= f.check_box :is_active, :readonly => true%><br/><br/>
      <% end %>
      </div> 
    </div>
  <% end %>
</div>

<script>
    reset_map_controllers(); 
    deactivate_all_click();
    place_init('<%=@contact.location1%>', '', site_green_star);
    map_add_feature_from_wkt('<%=@contact.location2%>','EPSG:4326',site_red_star);
    if(site_map_size==0) { 
       $('#actionbar-form').removeClass('span7');
       $('#actionbar-form').addClass('span12');
    }

</script>

