  <div class="name_pagination"> <%= will_paginate(@contacts) %></div>
  <table class="places">
      <tr>
        <th></th>
        <th>Callsign1</th>
        <th>Callsign2</th>
        <th>Date</th>
        <th>Time</th>
        <th>Freq (MHz)</th>
        <th>Mode</th>
        <th>Location1</th>
        <th>Location2</th>
      </tr>
    <% count=0
       if @contacts then @contacts.each do |contact| %>
      <tr>
        <td>
          <% if !@brief and current_user  and (current_user.id==contact.user1_id or current_user.is_admin) %>
            <%= link_to 'Edit', '/contacts/'+contact.id.to_s+'/editlog?referring=index', remote: true, :id => 'editbutton'+contact.id.to_s, :onclick => "linkHandler('editbutton"+contact.id.to_s+"')" %><br/>
          <% end %>
          <% if @orphans and current_user  and (current_user.id==contact.user2_id or current_user.is_admin) %>
            <%= link_to 'Confirm', '/contacts/'+contact.id.to_s+'/confirm?referring=index', remote: true, data: {confirm: "Create a new activator log entry for your station from this chaser contact: Are you sure?"}, :id => 'confirmbutton'+contact.id.to_s, :onclick => "linkHandler('confirmbutton"+contact.id.to_s+"')" %><br/>
            <%= link_to 'Refute', '/contacts/'+contact.id.to_s+'/refute?referring=index', remote: true, data: {confirm: "Mark the location shown in this contact for yourself as incorrect: Are you sure?"},  :id => 'refutebutton'+contact.id.to_s, :onclick => "linkHandler('refutebutton"+contact.id.to_s+"')" %><br/>
          <% else %>
            <%= link_to 'View', '/contacts/'+contact.id.to_s, remote: true, :id => 'contact_link_'+contact.id.to_s, :onclick => "linkHandler('contact_link_"+contact.id.to_s+"')" %>
          <% end %>
        </td>
        <%
          style1=""
          if contact.is_qrp1 then style1=style1+"color:green;" end 
          if !contact.is_portable1 then style1=style1+"text-decoration:underline;" end 
          style2=""
          if contact.is_qrp2 then style2=style2+"color:green;" end 
          if !contact.is_portable2 then style2=style2+"text-decoration:underline;" end 
        %>
        <td> <%=link_to contact.callsign1, '/users/'+contact.callsign1, remote: true,  :id => 'user', :onclick => "linkHandler('user')", :style => style1%> </td>
        <td> <%=link_to contact.callsign2, '/users/'+contact.callsign2, remote: true,  :id => 'user', :onclick => "linkHandler('user')", :style => style2  %> </td>
        <td> <%= contact.localdate(current_user) %> </td>
        <td> <%= if contact.time then contact.localtime(current_user) else '' end %> <%=contact.localtimezone(current_user) %></td>
        <td> <%= if contact.frequency then '%.3f' % contact.frequency else '' end%> </td>
        <td> <%= contact.mode %> </td>
        <td>  <ul style="list-style-type:none;padding:0;margin:0;">
          <% if contact.asset1_codes.count>0 then %>
            <% contact.asset1_codes.each do |cal|%>
              <li>
                <%links=Asset.assets_from_code(cal)%>
                <% links.each do |link| %>
                  <% if link[:external] then %>
                    <%=link_to link[:code], link[:url], target: "_blank"%><img src="/assets/external-link-symbol.png">
                  <% else %>
                    <% if link[:asset] then %>
                    <%=link_to link[:asset].codename, (if(link[:url][0]!='/' and link[:url][0..3]!="http") then "/" else "" end)+link[:url],remote: true,  :id => 'link', :onclick => "linkHandler('link')"  %>
                    <% else %>
                      Asset no lnger exists: <%=cal%>
                    <% end %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          <% else %>
            <%= contact.loc_desc1 %> 
          <% end %>
        </ul></td>
        <td>  <ul style="list-style-type:none;padding:0;margin:0;">
          <% if contact.asset2_codes.count>0 then %>
            <% contact.asset2_codes.each do |cal|%>
              <li>
                <%links=Asset.assets_from_code(cal)%>
                <% links.each do |link| %>
                  <% if link[:external] then %>

                    <%=link_to link[:code], link[:url], target: "_blank"%><img src="/assets/external-link-symbol.png">
                  <% else %>
                    <% if link[:asset] then %>
                      <%=link_to link[:asset].codename, (if(link[:url][0]!='/' and link[:url][0..3]!="http") then "/" else "" end)+link[:url],remote: true,  :id => 'link', :onclick => "linkHandler('link')"  %>
                    <% else %>
                      <div class="rowtext">Asset no longer exists <%=cal%></div>
                    <% end %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          <% else %>
            <%= contact.loc_desc2 %> 
          <% end %>
        </ul></td>
      </tr>
    <%count=count+1%>
    <% end end %>
  </table>
  <div class="name_pagination"> <%= will_paginate(@contacts) %></div>

