<div class="fullform">
   <%= form_for @contact, remote: true, :html => {:name => 'contactform'} do |f| %>
    <div id="actionbar-form" class="span7">
       <div id="crumbs">
         <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
         &nbsp;--&gt;&nbsp;
         <%=  link_to  "Contacts:", '/contacts', remote: true,  :id => 'contacts', :onclick => "linkHandler('contacts')" %>
         &nbsp;--&gt;&nbsp;
         <b>New</b>
       </div>
       <div id="controls">
          <%= f.submit "Next", class: "btn btn-small btn-primary btn-highlight" %>
          <%=  link_to "Cancel", '/contacts', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('cancel')" %>
          <%=  link_to "Show/Hide Map", "#", class: "btn btn-small btn-primary",   :onclick => "toggle_map(); return false;"%>
       </div>
    </div>

    <div id="right_scroll">
      <%= hidden_field_tag(:referring, @referring) %>
      <%= hidden_field_tag(:hut1_id, @contact.hut1_id) %>
      <%= hidden_field_tag(:park1_id, @contact.park1_id) %>
      <%= hidden_field_tag(:island1_id, @contact.island1_id) %>
      <%= render 'flash' %>
      <%= render 'shared/error_messages' %>

      <div class="sectiontitle">First Party callsign</div>
      <%= f.text_field :callsign1 %>

      <div class="sectiontitle">Second Party Callsign</div>
      <%= f.text_field :callsign2 %>


      <div class="sectiontitle">Contact date</div>
      <%= f.date_field :date %>
    </div>
  <% end %>
</div>

<script>
    reset_map_controllers(); 
    deactivate_all_click();
    if(site_map_size==0) { 
       $('#actionbar-form').removeClass('span7');
       $('#actionbar-form').addClass('span12');
    }
   document.title = '... On the Air'
   document.getElementById('logo').innerHTML='... On The Air'


</script>

