<script> 
   document.getElementById("page_status").innerHTML = '';
   document.body.classList.remove('loading');
</script>

<div class="fullform">
    <%= form_for(@award) do |f| %>
      <div id="actionbar" class="span7">
       <div id="crumbs">
         <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
         &nbsp;--&gt;&nbsp;
         <%=  link_to  "Awards", '/awards', remote: true,  :id => 'users', :onclick => "linkHandler('users')" %>
         &nbsp;--&gt;&nbsp;
         <%if @award.id%>
            <b><%=link_to @award.name.capitalize, '/awards/'+@award.id.to_s, remote: true, :id => 'user', :onclick => "linkHandler('user')" %>
            &nbsp;--&gt;&nbsp;
            <b>Edit</b>
         <% else %>
            <b>New</b>
         <% end %>

       </div>

       <div id="controls">
          <% if @award.id %><% if params[:referring]=='index'%>
            <%=  link_to "Cancel", '/awards', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('cancel')" %>
          <% else %>
            <%=  link_to "Cancel", '/awarss/'+@award.id.to_s, class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('cancel')" %>
          <% end %> <% end %>

          <%=render 'map_controls'%>
       </div>
     </div>

     <%= render 'shared/error_messages' %>


    <div id="right_scroll">
      <%= hidden_field_tag(:referring, @referring) %>
      <%= render 'flash' %>
      <%= render 'shared/error_messages' %>

      <div class="sectiontitle">Award ID</div>
      <%if current_user and current_user.is_admin%><%= f.text_field :id %><%else%><%= f.text_field :id, readonly: true %><% end %>

      <div class="sectiontitle">Name</div>
      <%= f.text_field :name %>

      <div class="sectiontitle">Description</div>
      <%= f.text_area :description %>

      <div class="sectiontitle">Text of notification email</div>
      <%= f.text_area :email_text %>

      <div class="sectiontitle">Programnme (asset class)</div>
      <%= f.text_area :programme %>

      <%= "Threshold based award" %><br/>
      <%= f.check_box :count_based%><br/><br/>

      <%= "All of district award" %><br/>
      <%= f.check_box :all_district%><br/><br/>

      <%= "All of region award" %><br/>
      <%= f.check_box :all_region%><br/><br/>

      <%= "All of programme award" %><br/>
      <%= f.check_box :all_programme%><br/><br/>

      <%= "Park-to-park award" %><br/>
      <%= f.check_box :p2p%><br/><br/>

      <i>For bagged leave both blank, for completed tick both</i><br/>
      <%= "For activations" %><br/>
      <%= f.check_box :activated%><br/><br/>

      <%= "For chases" %><br/>
      <%= f.check_box :chased%><br/><br/>

      <%= "Contact must be QRP?" %><br/>
      <%= f.check_box :user_qrp%><br/><br/>

      <%= "Allow repeat visits to same QTH?" %><br/>
      <%= f.check_box :allow_repeat_visits%><br/><br/>

      <%= "Active? " %><br/>
      <% if current_user and current_user.is_admin%> 
        <%= f.check_box :is_active%><br/><br/>
      <% else %>
        <%= f.check_box :is_active, :readonly => true%><br/><br/>
      <% end %>

      <%= f.submit @submit_button, class: "btn btn-small btn-primary btn-hightlight" %>
      <%  if(@submit_button == "Save Changes" and current_user and current_user.is_admin) %>
        <%= f.submit "Delete", confirm: "Delete award: Are you sure?", class: "btn btn-small btn-primary", name: "delete", id:  "deletebutton", remote: true %>
      <% end %>
 
    </div>
  <% end %>
</div>

<script>
  closeAllHandlers();
  document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
</script>

