<div class="fullform">
   <%= form_for @award, remote: true, :html => {:name => 'awardform'} do |f| %>
    <div id="actionbar-form" class="span7">
       <div id="crumbs">
         <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
         &nbsp;--&gt;&nbsp;
         <%=  link_to  "Awards:", '/awards', remote: true,  :id => 'awards', :onclick => "linkHandler('awards')" %>
         &nbsp;--&gt;&nbsp;
         <%if @award.id%> 
            <b><%=link_to @award.name, '/awards/'+@award.id.to_s, remote: true, :id => 'award', :onclick => "linkHandler('award')" %>
            &nbsp;--&gt;&nbsp;
            <b>Edit</b>
         <% else %>
            <b>New</b>
         <% end %>
       </div>
       <div id="controls">
          <%= f.submit @submit_button, class: "btn btn-small btn-primary btn-highlight" %>
          <%  if(@submit_button == "Save Changes" and current_user and current_user.is_admin) %>
            <%= f.submit "Delete", confirm: "Delete award: Are you sure?", class: "btn btn-small btn-primary", name: "delete", id:  "deletebutton", remote: true %>
          <% end %>
          <% if params[:referring]=='index'%>
            <%=  link_to "Cancel", '/awards', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('cancel')" %>
          <% else %>
            <%=  link_to "Cancel", '/awards/'+@award.id.to_s, class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('cancel')" %>
          <% end %>
          <%=  link_to "Show/Hide Map", "#", class: "btn btn-small btn-primary",   :onclick => "toggle_map(); return false;"%>
       </div>
    </div>

    <div id="right_scroll">
      <%= hidden_field_tag(:referring, @referring) %>
      <%= render 'flash' %>
      <%= render 'shared/error_messages' %>

      <div class="sectiontitle">Award ID</div>
      <%if current_user and current_user.is_admin%><%= f.text_field :id %><%else%><%= f.text_field :id, readonly: true %><% end %>

      <div class="sectiontitle">Name</div>
      <%= f.text_field :name %>

      <div class="sectiontitle">Description</div>
      <%= f.text_area :description %>

      <div class="sectiontitle">Text of notification email</div>
      <%= f.text_area :email_text %>
      <div class="sectiontitle">Minimum huts required</div>
      <%= f.text_field :huts_minimum %>
      <div class="sectiontitle">Minimum parks required</div>
      <%= f.text_field :parks_minimum %>
      <div class="sectiontitle">Minimum islands required</div>
      <%= f.text_field :islands_minimum %>

      <%= "Claimant must be QRP?" %><br/>
      <%= f.check_box :user_qrp%><br/><br/>

      <%= "Entire contact must be QRP?" %><br/>
      <%= f.check_box :contact_qrp%><br/><br/>

      <%= "Allow repeat visits to same QTH?" %><br/>
      <%= f.check_box :allow_repeat_visits%><br/><br/>

      <%= "Active? " %><br/>
      <% if current_user and current_user.is_admin%> 
        <%= f.check_box :is_active%><br/><br/>
      <% else %>
        <%= f.check_box :is_active, :readonly => true%><br/><br/>
      <% end %>
 
    </div>
  <% end %>
</div>

<script>
    reset_map_controllers(); 

    if(site_map_size==0) { 
       $('#actionbar-form').removeClass('span7');
       $('#actionbar-form').addClass('span12');
    }

</script>

