
<script>
  closeAllHandlers();
  function page_set_layer_filter(name) {
   if (name=='all') {
     if (JSON.stringify(site_map_layers['point'])!=JSON.stringify(site_all_point_layers)) {
       site_set_map_filters('point',site_all_point_layers);
       site_refresh_layer('point');
     };
   } else {
     if (JSON.stringify(site_map_layers['point'])!=JSON.stringify([name])) {
       site_set_map_filters('point',[name]);
       site_refresh_layer('point');
     };
   };
}

   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
//   site_toggle_assets(<%=@asset_type.display_name%>)
   page_set_layer_filter("<%=@asset_type.name%>");
   document.title = 'ZL On The Air';
   document.getElementById('logo').innerHTML='ZL On The Air';
</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <%=link_to "Places", '/assets', remote: true,  :id => 'assets', :onclick => "linkHandler('assets')" %>
     &nbsp;--&gt;&nbsp;
     <b><%=@asset_type.display_name%></b>
     </div>
   <div id="controls">
       <% if current_user and current_user.is_modifier %>
            <%=  link_to "Add", '/assets/new', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('add')" %>
       <% end %>
       <% if current_user %>
         <%=  link_to "Download", '/assets.csv?type='+@asset_type.name, class: "btn btn-small btn-primary"%>
       <% end %>
       <%=render 'map_controls'%>
   </div>
</div>
<div id="right_scroll">
  <%= render 'flash' %>


<%= form_tag '/assets', :name => 'findform', :remote => true, :method => 'get', :style => 'margin-bottom: 0px' %>
  <br/>
  <div class="rowtitle">Type:</div>
  <div class="rowtext">
    <%= collection_select( :asset_type, :name, AssetType.all.order(:display_name), :name, :display_name,{default: @asset_type}, onchange: 'page_set_layer_filter(document.getElementById("asset_type_name").value);') %>    
  </div>
  <div class="rowtitle">Find:</div>
  <div class="rowtext">
    <input type="text" name="searchtext" value='<%=@searchtext%>'/>
  </div>
  <div class="erow">
  <span title="Include places that are not valid for NZOnTheAir in the results. This includes duplicate place names, names of groups of islands and lakes, reserves that are smaller than the minimum size, Queen's chain reserves, special purpose reserves, and others."><div class="rowtitle">Include non-qualifying:</div></span>
  <div class="rowtext">
    <input id="minor" name="minor" type="checkbox" value="0">
  </div>
  </div>
  <% if current_user and (current_user.is_admin or current_user.is_modifier) then %>
  <div class="rowtitle">Include inactive records:</div>
  <div class="rowtext">
    <input id="active" name="active" type="checkbox" value="0">
  </div>
  <% end %>
  <div class="buttonshort">
    <%= submit_tag "Find", :id => "find", :onclick => "submit_search('find');", :class => "btn btn-small", :onclick => "submitHandler('Finding...');" %>
    <%=  link_to "Clear", '/assets', class: "btn btn-small", remote: true, :onclick => "linkHandler('clear')"%>

  </div>
</form>

<% if !@searchtext %>
  Your search returned no results.

<% else %>

   <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
   </div>

  Your search returned <%=@count.to_s%> results.
  <% if @count>@limit then %>
     This is more than can be displayed.  Please refine your search
  <% end %>

  <table class="places">
      <tr>
        <th>Type</th>
        <th>ID</th>
        <th>Name</th>
        <th>Reg</th>
        <th>Related</th>
        <th>Description</th>
        <th style="text-align:center">
          <%=render :partial => 'filter',  :locals => {:filtername => "active", :formname => "/assets"} %>
          Active?
        </th>
   
      </tr>
    <% if @assets then @assets.each do |asset| %>
      <tr>
        <td><%=asset.type.display_name%></td>
        <td><%=asset.code%></td>
        <td>
          <% if current_user and current_user.is_modifier %>
             <span title="Click to edit row"><%= link_to image_tag("/assets/pencil_edit.png", :class => 'dock-item'), '/assets/'+asset.safecode+'/edit?referring=index', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton", alt: "Edit"  %></span>
          <% end %>
          <%= link_to asset.name, '/assets/'+asset.safecode, remote: true, :id => 'asset_link_'+asset.id.to_s, :onclick => "linkHandler('asset_link_"+asset.id.to_s+"')" %>
        </td>
        <td>
            <%=asset.region%>
        </td>
        <td>
          <ul style="list-style-type:none;padding:0;margin:0;">
          <%if asset.childnames then %><% asset.childnames.each do |link|%>
            <li><%= link_to link.codename, '/assets/'+link.safecode, remote: true,  :id => 'link', :onclick => "linkHandler('home')"  %></li>
          <% end %><% end %>
          </ul>
        </td>
        <td>
            <%= asset.description %>
        </td>

        <td style="text-align:center"><%= check_box "asset", "is_active", {:checked => asset.is_active, :disabled => true} %></td>
      </tr>
    <% end end %>
</table>
</div>

<% end %>
<script>
  document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
</script>
