<script> 
   document.getElementById("page_status").innerHTML = '';
   document.title = 'ZL On the Air'
   document.getElementById('logo').innerHTML='ZL On The Air'

</script>
<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <%=  link_to  "Places:", '/assets', remote: true,  :id => 'assets', :onclick => "linkHandler('assets')" %>
     &nbsp;--&gt;&nbsp;
     <b><%= @asset.name %></b>
     </div>
   <div id="controls">
       <% if current_user and current_user.is_modifier %>
            <%=  link_to "Associate", '/assets/'+@asset.safecode+'/associations', class: "btn btn-small btn-primary", remote: true, :id => 'associations', :onclick => "linkHandler('associations')" %>
            <%=  link_to "Edit", '/assets/'+@asset.safecode+'/edit', class: "btn btn-small btn-primary", remote: true, :id => 'edit', :onclick => "linkHandler('edit')" %>
       <% end %>
       <%=  link_to "Index", "/assets", class: "btn btn-small btn-primary", remote: true,  :id => 'index', :onclick => "linkHandler('index')" %>
       <%=render 'map_controls'%>
   </div>
</div>
<div id="right_scroll">
   <%= render 'flash' %>
   <div class="erow" id="email">
      <div class="rowtitle"><%= "Id:" %></div>
      <% url=@asset.get_external_url %>
      <% if url then %> 
        <div class="rowtext"><%= link_to @asset.code, url, target: "_blank" %><img src="/assets/external-link-symbol.png"></div>
      <% else %>
        <div class="rowtext"><%= @asset.code %></div>
      <% end %>
   </div>
   <div class="erow" id="name">
      <div class="rowtitle"><%= "Name" %></div>
      <div class="rowtext"> 
        <%=link_to @asset.name, '/assets/'+@asset.safecode, remote: true,  :id => 'asset', :onclick => "linkHandler('asset')" %>
      </div>
   </div>
   <div class="erow" id="name">
      <div class="rowtitle"><%= "Class" %></div>
      <div class="rowtext"> 
        <%= @asset.type.display_name %>
      </div>
   </div>
<% if @asset.master_code and @asset.master_code!='' then %>
     <div class="erow" id="name">
       <div class="rowtitle" style='color:#bb0000'>REPLACED BY</div>
       <div class="rowtext"> 
         <%= link_to @asset.master_code, '/assets/'+@asset.master_code.gsub('/','_'), remote: true,  :id => 'asset', :onclick => "linkHandler('asset')" %>
       </div>
     </div>
<% end %>
   <div class="erow" id="name">
      <div class="rowtitle"><%= "Description" %></div>
      <div class="rowtext"> 
        <%= @asset.description %>
      </div>
   </div>
   <% if @asset.points and @asset.points>0 %>
     <div class="erow" id="name">
        <div class="rowtitle"><%= "Points" %></div>
        <div class="rowtext"> 
          <%= @asset.points %>
        </div>
     </div>
   <% end %>
   <% if @asset.type.fields then @asset.type.fields.split(',').each do |f| %>
     
     <div class="erow" id="name">
        <div class="rowtitle"><%= f.gsub('_',' ').titlecase %></div>
        <div class="rowtext"><%= @asset.r_field(f)%></div>
     </div>
   <% end end %>
   <div class="erow" id="name">
      <div class="rowtitle"><%= "Lies within" %></div>
      <div class="rowtext"> 
          <%if @asset.children then %><ul style="list-style-type:none;padding:0;margin:0;"><% @asset.children.each do |link|%>
            <li><%= link_to link.codename, '/assets/'+link.safecode, remote: true,  :id => 'link', :onclick => "linkHandler('home')"  %></li>
          <% end %></ul><% end %>
      </div>
   </div>
   <div class="erow" id="district">
      <div class="rowtitle">Region</div>
      <div class="rowtext"> 
        <%=@asset.region_name%>
      </div>
   </div>
   <div class="erow" id="location">
      <div class="rowtitle"><%= "Location" %></div>
      <% if @asset.x and @asset.y %>
        <div class="rowtext"> <%= "NZTM2000: "+@asset.x.round().to_s+", "+@asset.y.round().to_s %><% if @asset.r_field("altitude") %><%=" (alt: "+@asset.r_field("altitude").to_i.to_s+"m)"%> <% end %> </div>
      <% end %>
   </div>
   <% if @asset.area then %>
   <div class="erow" id="area">
      <div class="rowtitle"><%= "Area" %></div>
      <div class="textext"><%= (@asset.area/10000).round(2).to_s + " ha"%></div>
   </div>
   <% end %>
   <% if @asset.category then %>
   <div class="erow" id="doc">
      <div class="rowtitle"><%= "Administered by" %></div>
      <div class="textext"><%=@asset.category%></div>
   </div>
   <% end %>
   <div class="erow" id="email" <%= if @asset.is_active then "" else "style='color:#bb0000'" end%>>
      <div class="rowtitle" <%= if @asset.is_active then "" else "style='color:#bb0000'" end%>><%= "Active?" %></div>
      <div class="textext"><%= if @asset.is_active then "Yes" else "No" end %></div>
   </div>
   <% if @asset.minor then %>
   <div class="erow" id="email" style='color:#bb0000 !important'>
      <div class="rowtitle" style='color:#bb0000'><%= "Valid for OnTheAir?" %></div>
      <div class="textext">No</div>
   </div>
   <% end %>
   <% c=@asset.first_activated %>
   <% if c then %>
     <div class="erow" id="doc">
       <div class="rowtitle"><%= "First activation" %></div>
       <div class="textext"><%=link_to c.callsign1+' -> '+c.callsign2+c.time.strftime(' (%Y-%m-%d)'), '/contacts/'+c.id.to_s, remote: true, :onclick => "linkHandler('first')" %></div>
     </div>
   <% end %>


   <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
   </div>

   <div class="erow"><div class="sectiontitle_bold">Links:</div>&nbsp;        
     <% if current_user %>
       <%=  link_to "(Edit)", '#', class: 'link_to', :id => 'edit', :onclick => "editlinks(); return(false)"%>
     <%end%>
   </div>
  <div id="showlinks">
   <% @asset.web_links.each do |awl| %>

     <div class="erow" id="name">
        <div class="rowtitle"><%= awl.web_link_class.display_name %></div>
        <div class="rowtext"><%= link_to awl.url, awl.url, :target=>"_blank"%></div>
     </div>
   
   <% end %>
  </div>
  <% if signed_in? then %>
  <div id="editlinks" style="display:none">
    <table>
    <% @asset.web_links.each do |awl| %>
        <tr> 
          <td><%= awl.web_link_class.display_name %></td>
          <td><%= link_to awl.url, awl.url, :target=>"_blank"%></td>
          <td><%=  link_to "Delete", '/asset_web_links/'+awl.id.to_s+'/delete', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('delete')" %></td>
        </tr>
    <% end %>
    <%= form_for @newlink, remote: true, :html => {:name => 'linkform'} do |f| %>
      <tr>
        <%= f.hidden_field :asset_code %>
        <td><%= f.collection_select( :link_class, WebLinkClass.all.order(:name), :name, :display_name) %></td>
        <td> <%=f.text_field :url %></td>
        <td> <%= f.submit 'Add', class: "btn btn-small btn-primary btn-hightlight" %> </td>
      </tr>
    <% end %>
  </table>
  </div>
  <% end %>
  <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
  </div>

   <div class="sectiontitle_bold">Bagged by:</div>
   <div class="erow">
     <% if not @asset.baggers or (@asset.baggers and @asset.baggers.count==0) then %>
        <i>No-one has bagged this place yet. Be the first!</i></br>
     <% end %>

     <% @asset.baggers.each do |user| %>
         <%=link_to user.callsign, '/users/'+user.callsign, remote: true,  :id => 'user', :onclick => "linkHandler('user')" %>,&nbsp
     <% end %>
   </div> 

   <div class="erow">
     <% if @asset.contacts and @asset.contacts.count>0 then %>
         <b><%=link_to @asset.contacts.count.to_s+" Contacts (View)", '/contacts/?asset='+@asset.safecode, remote: true,  :id => 'user', :onclick => "linkHandler('contact')" %></b>
     <% end %>
   </div>
   <% if current_user %>
            <%=  link_to "Add Contacts", '/logs/new?asset1='+@asset.safecode, class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('edit')" %>

   <% end %>

   <% if @asset.hutbagger_link then %>
   <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
   </div>


  <div class="sectiontitle_bold" style="margin-bottom: 4px">Photos of this place on  <%=link_to "Hut  Bagger", @asset.hutbagger_link.url, class: 'link_to'%>:</div>
  <div class="erow">
    <% if !@asset.photo_count==0 %>
      <p><i>No photos have been uploaded. Visit <%=link_to "hutbagger.co.nz", @asset.hutbagger_link.url, target: "_blank"%> to add one.</i></p>
    <% end %>
    <div class="photo-bar">
     <div style="width:1000%">
      <% @asset.photos.each do |photo| %>
        <span>
         <%=link_to (image_tag(photo.link_url.gsub(/large/,'small'))), @asset.hutbagger_link.url, :class => "photo", :target=>"_blank"%>
        </span>
      <% end %>
      <% @asset.posted_photos.each do |photo| %>
        <span>
         <%=link_to (image_tag(photo.link_url.gsub(/large/,'small'))), 'posts/'+photo.post_id.to_s, :class => "photo", :remote=>true, :onclick => "linkHandler('edit')" %>
        </span>
      <% end %>
     </div>
    </div>
  </div>
  <% end %>
</div>

<% @asset.parent_classes.each do |parent_class| %>
   <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
   </div>
   <div class="sectiontitle_bold"><%=parent_class.pluralize.capitalize%></div>

   <table>
   <% @asset.parents.select{|ac| ac.asset_type==parent_class}.each do |parent| %>
     <tr>
       <td>
          <%=link_to parent.codename, '/assets/'+parent.safecode, remote: true,  :id => 'parent'+parent.safecode, :onclick => "linkHandler('parent')"   %>
       </td>
     </tr>
   <% end %>
   </table>

<% end %>

<script>
    document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
    place_init('<%=@asset.location%>',  0, site_purple_star);
    <% if @asset.boundary_simple then %>
      place_init('<%=@asset.boundary_simple%>',  1,site_highlight_polygon);
    <% end %>
    function editlinks() {
      if (document.getElementById('showlinks').style.display=="none") {
        document.getElementById('showlinks').style.display="block";
        document.getElementById('editlinks').style.display="none";
      } else {
        document.getElementById('showlinks').style.display="none";
        document.getElementById('editlinks').style.display="block";
      }
    }
</script>

