<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <b>WWFF Logs</b>
     </div>
   <div id="controls">
     <%=render 'map_controls'%>
   </div>
</div>
<div class="erow">
Please check that the following log is correct, and click the <b>Send Log</b> button to submit it to WWFF.
<br/>
<br/>
Filename: <%=@filename%><br/>
Email to send to: <%=@address%><br/>
<br/>
<%=raw(@wwff_log.gsub('<','&lt;').gsub('>','&gt;').gsub('&lt;eor&gt;','&lt;eor&gt;<br/>'))%>
<br/>
<br/>
Invalid contacts rejected: <%=@invalid_contacts.count%><br/>
<% @invalid_contacts.each do |contact| %>
  <%=link_to "Contact: "+contact[:contact].id.to_s, '/contacts/'+contact[:contact].id.to_s ,remote: true, :onclick => "linkHandler('submit')"%> -- <%=contact[:message]%><br/>
<% end %>
Duplicate contacts rejected: <%=@dups.count%><br/>
<% @dups.each do |contact| %>
  <%=link_to "Contact: "+contact.id.to_s, '/contacts/'+contact.id.to_s ,remote: true, :onclick => "linkHandler('submit')"%> <%=contact.callsign1%>&lt=&gt<%=contact.callsign2%><br/>
<% end %>

<%=link_to "Send Log", '/wwff_logs/'+@park.code+"/send?user="+@user.callsign+"&resubmit="+@resubmit.to_s, class: "btn btn-small btn-primary",remote: true, :onclick => "linkHandler('submit')"%>
<%=link_to "Cancel", '/wwff_logs?user='+@user.callsign+"&resubmit="+@resubmit.to_s, class: "btn btn-small btn-primary",remote: true, :onclick => "linkHandler('submit')"%>

<script>
  document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
</script>

