<script>
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   document.title = '... On The Air'
   document.getElementById('logo').innerHTML='... On The Air'
</script>

<div class="fullform">
  <%= form_for @post, remote: true, :html => {:name => 'postform'}  do |f| %>
    <div id="actionbar" class="span7">
      <div id="crumbs">
        <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
        &nbsp;--&gt;&nbsp;
        <%if @topic.id==1 then %><b><%=link_to "Alerts", "/alerts", remote: true,  :id => 'alerts', :onclick => "linkHandler('alerts')"%></b><% end%>
        <%if @topic.id==35 then %><b><%=link_to "Spots", "/spots", remote: true,  :id => 'spots', :onclick => "linkHandler('spots')"%></b><% end%>
        &nbsp;--&gt;&nbsp;
        <%if @post.id%>
          <b><%=link_to @post.title, '/posts/'+@post.id.to_s%></b>
          &nbsp;--&gt;&nbsp;
          <b>Edit</b>
        <% else %>
          <b>New</b>
        <% end %>
      </div>
      <div id="controls">
        <% if @post.id %><% if params[:referring]=='index'%>
            <%=  link_to "Cancel", '/posts', class: "btn btn-small btn-primary",remote: true,  :id => 'cancel', :onclick => "linkHandler('cancel')"%>
          <% else %>
            <%=  link_to "Cancel", '/posts/'+@post.id.to_s, class: "btn btn-small btn-primary",remote: true,  :id => 'cancel', :onclick => "linkHandler('cancel')"%>
        <% end %> <% end %>

        <%=render 'map_controls'%>
      </div>
    </div>
    <%= render 'shared/error_messages' %>	

    <div id="right_scroll">
      <%=hidden_field_tag(:topic_id, @topic.id)%>
      <%= render 'flash' %>
      <%= render 'shared/error_messages' %>

 
      <% if @topic.is_spot or @topic.is_alert then %>
        <b><%=@topic.name%></b><br>
        <table id="main_table">
          <% if @topic.is_spot then %>
            <tr>
              <td>Operating callsign:</td>
              <td style="padding:0px; margin:0px;" colspan=3><%=f.text_field :callsign, :style =>"padding:0px; margin:0px;" %></td>
            </tr>
          <% end %>
          <% if @topic.is_alert then %>
            <tr>
              <td>On air from:</td>
              <td style="padding:0px; margin:0px;"><%=   f.date_field :referenced_date, :style =>"padding:0px; margin:0px;" %></td><td style="padding:0px; margin:0px;"><%=   f.time_field :referenced_time, :style =>"padding:0px; margin:0px;" %></td>
              <td>Trip length (days):</td><td style="padding:0px; margin:0px;"> <%=   f.text_field :duration, :style =>"padding:0px; margin:0px;" %></td>
            </tr>
          <% end %> 
          <tr>
            <td>Freq(s) (MHz):</td>
            <td style="padding:0px; margin:0px;" ><%=   f.text_field :freq, :style =>"padding:0px; margin:0px;" %></td>
            <td>Mode(s):</td>
            <td style="padding:0px; margin:0px;" colspan=2><%=   f.text_field :mode, :style =>"padding:0px; margin:0px;" %></td>
          </tr>
 <% count=0%>
 <% while count<10 do %>
          <tr id=row<%=count.to_s%> <%= if count>0 and (!@post.asset_codes[count] or @post.asset_codes[count]=='') then "style=display:none" end%>>
            <td><%if count==0%>Operating from:<%end%></td>
            <td>
               <% @asset_type=Asset.get_asset_type_from_code(Asset.get_code_from_codename(@post.asset_codes[count])) %>
               <%= collection_select( 'asset'+count.to_s+"_type", :name, AssetType.all.order(:display_name), :name, :display_name,{selected: @asset_type}, style: "margin-bottom: 0px;height: 24px;") %>
            </td>
            <td style="padding:0px; margin:0px;" colspan=3>
      <div id="asset<%=count.to_s%>"><input id="post_asset<%=count.to_s%>" name="post[asset_codes[<%=count.to_s%>]]" style="padding:0px; margin:0px;" type="text" class="typeahead" placeholder="Type location" value='<%=@post.asset_codes[count]%>'></div>
            </td>
            <td>
              <%=link_to "Add more", '#', class: "btn btn-small", id:  "addmore", :onclick => "addmore("+count.to_s+");return false;" %>

            </td>
          </tr>
 <% count+=1 %>
 <% end %>
        </table>
      <% end %>
      <span>
        <%=f.label :title %>
        <%= f.text_field :title %>
      </span>
    
      <%=f.label :description%>
      <div id="editPanel"></div>
        <span id="descrSpan">
          <%= f.text_area :description %>
        </span>
      </div>
      <span>
      Publish on Parks n Peaks
      <input id="pnp" name="pnp" type="checkbox" checked="checked">
      </span>
    <%  if(@submit_button != "Save Changes" and current_user and current_user.is_admin) %>
      <span>
      DEBUG PnP
      <input id="debug" name="debug" type="checkbox">
      </span>
      <div class="erow">
        <%=f.label "Check to supress emails of this post" %> 
        <%= f.check_box :do_not_publish %>
      </div>
    <% end %>
    <%= f.submit @submit_button, class: "btn btn-small btn-primary btn-highlight" %>
    <%  if(@submit_button == "Save Changes" and (current_user.is_admin or current_user.id==@post.created_by_id)) %>
        <%= f.submit "Delete Post", confirm: "Delete post: Are you sure?", class: "btn btn-small btn-primary", id:  "deletebutton",remote: true,  :id => 'delete', :onclick => "linkHandler('delete')" %>
    <% end %>
  <% end %>
</div>
<script>
var assets=[];
<% count=0; while count<10 do %>
  assets[<%=count%>] = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: {
    url: '/queries/asset?query=%QUERY',
    wildcard: '%QUERY',
    replace: function(url, uriEncodedQuery) {
      val=document.getElementById("asset<%=count%>_type_name").value;
      if (!val) return url.replace("%QUERY",uriEncodedQuery);
      //correction here
      return url.replace("%QUERY",uriEncodedQuery) + '&asset_type=' + encodeURIComponent(val);
    },
  }
});

  assets[<%=count%>].clearPrefetchCache();
  assets[<%=count%>].initialize();

  $("#asset<%=count%> .typeahead").typeahead(null, {
    name: "assets<%=count%>",
    source: assets[<%=count%>]
  });
<% count+=1; end %>



function addmore(count) {
  document.getElementById('row'+(count+1)).style="display:";
}
document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;

</script>

