<script>
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   document.title = '... On The Air'
   document.getElementById('logo').innerHTML='... On The Air'
</script>
<script type="text/javascript">
   bkLib.onDomLoaded(startEdit);

function startEdit() {
  nicEditors.allTextAreas();
  init();
}
</script>

<div class="fullform">
  <%= form_for @post, remote: true, :html => {:name => 'postform'}  do |f| %>
    <div id="actionbar-form" class="span7">
      <div id="crumbs">
        <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
        &nbsp;--&gt;&nbsp;
        <%if @topic.id==1 then %><b><%=link_to "Alerts", "/alerts", remote: true,  :id => 'alerts', :onclick => "linkHandler('alerts')"%></b><% end%>
        <%if @topic.id==35 then %><b><%=link_to "Spots", "/spots", remote: true,  :id => 'spots', :onclick => "linkHandler('spots')"%></b><% end%>
        &nbsp;--&gt;&nbsp;
        <%if @post.id%>
          <b><%=link_to @post.title, '/posts/'+@post.id.to_s%></b>
          &nbsp;--&gt;&nbsp;
          <b>Edit</b>
        <% else %>
          <b>New</b>
        <% end %>
      </div>
      <div id="controls">
        <%= f.submit @submit_button, class: "btn btn-small btn-primary btn-highlight" %>
        <% if @post.id %><% if params[:referring]=='index'%>
          <%=  link_to "Cancel", '/posts', class: "btn btn-small btn-primary",remote: true,  :id => 'cancel', :onclick => "linkHandler('cancel')"%>
        <% else %>
          <%=  link_to "Cancel", '/posts/'+@post.id.to_s, class: "btn btn-small btn-primary",remote: true,  :id => 'cancel', :onclick => "linkHandler('cancel')"%>
        <% end %> <% end %>

        <%  if(@submit_button == "Save Changes" and (current_user.is_admin or current_user.id==@post.created_by_id)) %>
          <%= f.submit "Delete Post", confirm: "Delete post: Are you sure?", class: "btn btn-small btn-primary", id:  "deletebutton",remote: true,  :id => 'delete', :onclick => "linkHandler('delete')" %>
        <% end %>
      </div>
    </div>

    <%= render 'shared/error_messages' %>	

    <div id="right_scroll">
      <%=hidden_field_tag(:topic_id, @topic.id)%>
      <%= render 'flash' %>
      <%= render 'shared/error_messages' %>

 
      <% if @topic.is_spot or @topic.is_alert then %>
        <b><%=@topic.name%></b><br>
        <table>
          <% if @topic.is_spot then %>
            <tr>
              <td>Operating callsign:</td>
              <td style="padding:0px; margin:0px;" colspan=3><%=f.text_field :callsign, :style =>"padding:0px; margin:0px;" %></td>
            </tr>
          <% end %>
          <% if @topic.is_alert then %>
            <tr>
              <td>On air from:</td>
              <td style="padding:0px; margin:0px;"><%=   f.date_field :referenced_date, :style =>"padding:0px; margin:0px;" %></td><td style="padding:0px; margin:0px;"><%=   f.time_field :referenced_time, :style =>"padding:0px; margin:0px;" %></td>
              <td>Trip length (days):</td><td style="padding:0px; margin:0px;"> <%=   f.text_field :duration, :style =>"padding:0px; margin:0px;" %></td>
            </tr>
          <% end %> 
          <tr>
            <td>Hut:</td>
            <td style="padding:0px; margin:0px;">
              <div id="huts"><input id="post_hut" name="post[hut]" style="padding:0px; margin:0px;" type="text" class="typeahead" placeholder="Hut" value='<%=@post.hut%>'></div>
            </td>
            <td>Park:</td>
            <td style="padding:0px; margin:0px;" colspan=2>
              <div id="parks"><input id="post_park" name="post[park]" style="padding:0px; margin:0px;" type="text" class="typeahead" placeholder="Park" value='<%=@post.park%>'></div>
            </td>
          </tr>
          <tr>
            <td>Island:</td>
            <td style="padding:0px; margin:0px;">
              <div id="islands"><input id="post_island" name="post[island]" style="padding:0px; margin:0px;" type="text" class="typeahead" placeholder="Island" value='<%=@post.island%>'></div>
            </td>
            <td>Summit:</td>
            <td style="padding:0px; margin:0px;" colspan=2>
              <div id="summits"><input id="post_summit" name="post[summit]" style="padding:0px; margin:0px;" type="text" class="typeahead" placeholder="Summit" value='<%=@post.summit%>'></div>
            </td>
          </tr>
          <tr>
            <td>Freq(s):</td>
            <td style="padding:0px; margin:0px;" ><%=   f.text_field :freq, :style =>"padding:0px; margin:0px;" %></td>
            <td>Mode(s):</td>
            <td style="padding:0px; margin:0px;" colspan=2><%=   f.text_field :mode, :style =>"padding:0px; margin:0px;" %></td>
          </tr>
        </table>
      <% end %>
      <span>
        <%=f.label :title %>
        <%= f.text_field :title %>
      </span>
    
      <%=f.label :description%>
      <div id="editPanel"></div>
        <span id="descrSpan">
          <%= f.text_area :description %>
        </span>
      </div>
      <span>
      Publish on Parks n Peaks
      <input id="pnp" name="pnp" type="checkbox" checked="checked">
      </span>
    <%  if(@submit_button != "Save Changes" and current_user and current_user.is_admin) %>
      <span>
      DEBUG PnP
      <input id="debug" name="debug" type="checkbox">
      </span>
      <div class="erow">
        <%=f.label "Check to supress emails of this post" %> 
        <%= f.check_box :do_not_publish %>
      </div>
    <% end %>
  <% end %>
</div>
<script>
var huts = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: {
    url: '/queries/hut?query=%QUERY',
    wildcard: '%QUERY'
  }
});

  huts.clearPrefetchCache();
  huts.initialize();

  $('#huts .typeahead').typeahead(null, {
    name: 'huts',
    source: huts
  });


var parks = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: {
    url: '/queries/park?query=%QUERY',
    wildcard: '%QUERY'
  }
});

  parks.clearPrefetchCache();
  parks.initialize();

  $('#parks .typeahead').typeahead(null, {
    name: 'parks',
    source: parks
  });

var islands = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: {
    url: '/queries/island?query=%QUERY',
    wildcard: '%QUERY'
  }
});

  islands.clearPrefetchCache();
  islands.initialize();

  $('#islands .typeahead').typeahead(null, {
    name: 'islands',
    source: islands
  });

var summits = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: {
    url: '/queries/summit?query=%QUERY',
    wildcard: '%QUERY'
  }
});

  summits.clearPrefetchCache();
  summits.initialize();

  $('#summits .typeahead').typeahead(null, {
    name: 'summits',
    source: summits
  });

  startEdit();
</script>

