
<div class="bordered_box">
   <div class="box_header">
      <p><div class="sectiontitle"><%=@post.title%></div>
      </p>
      <p>
      <%= link_to @post.updated_by_name, '/users/'+@post.updated_by_name,remote: true,  :id => 'user', :onclick => "linkHandler('user')" %>
      <%=if @post.updated_at > @post.created_at then " updated in " else " posted in " end %> 
      <%=if @post.topic then @post.topic.name else "??" end %> on 
      <%=if @post.updated_at then @post.updated_at.in_time_zone(@tz.name).strftime("%Y-%m-%d") else "" end%>
      </p>
      <% if write_access? and (current_user.id==@post.created_by_id or current_user.is_admin) then %>
        <%=  link_to "Edit", '/posts/'+@post.id.to_s+'/edit', class: 'link_to', remote: true,  :id => 'edit', :onclick => "linkHandler('edit')"%>
        <%=  link_to "Reply", '/posts/new?topic_id='+@post.topic.id.to_s, class: 'link_to',remote: true,  :id => 'reply', :onclick => "linkHandler('reply')"%>
        <%= link_to "Delete", '/posts/'+@post.id.to_s+'/delete', data: {confirm: "Delete post: Are you sure?"}, class: 'link_to', remote: true,  :id => 'delete', :onclick => "linkHandler('delete')" %>
      <% end %>

      <% if @post.referenced_date then %>
        <p>
          <b><%=if @post.callsign then @post.callsign.upcase+" " end%><%=@post.topic.name%><%if @post.referenced_date then %> on/from <%=@post.referenced_date.in_time_zone(@tz.name).strftime("%Y-%m-%d")%> <%=if @post.referenced_time then @post.referenced_time.in_time_zone(@tz.name).strftime("%H:%M") end%> (<%=@tz.name%>)<%end%><% if @post.duration then%> for <%=(@post.duration||1).to_s%> hour(s)<%end%></b>

        </p>
      <% end %>
      <% if @post.asset_codes and @post.asset_codes.count>0 %>
        <p>
          <% @post.asset_codes.each do |code| %>
            <% asset=Asset.assets_from_code(code) %>
            <% if asset and asset.count>0 and asset.first[:code]!=nil then %>
              <% if asset.first[:external] then %>
                <%=link_to "["+asset.first[:code]+"] ",asset.first[:url], target: "_blank"%><img src="/assets/external-link-symbol.png">&nbsp
              <% else %>
               <%=link_to "["+asset.first[:code]+"] "+asset.first[:name],asset.first[:url], remote: true,  :id => 'link', :onclick => "linkHandler('link')"  %>&nbsp;
              <% end %>
            <% end %>
          <% end %>
        </p> 
      <% elsif @post.site and @post.site.length>0 %> 
        <p>
          <%=@post.site%>
        </p>
      <% elsif @post.location %>
        <p>
          <%=link_to "WGS: "+@post.location.x.to_s+", "+@post.location.y.to_s, "/?x=#{@post.location.x.to_s}&y=#{@post.location.y.to_s}&zoom=13", :target=>"_blank" %>
        </p>
      <% end %>
      <%if (@post.freq and @post.freq.length>0) or (@post.mode and @post.mode.length>0) then%><p><%=@post.freq%> - <%=@post.mode%></p><% end %> 
   </div>
   <div class="box_contents">
      <div class="sectiontext"><%=raw (@post.description||"").gsub(/(?<=<style type=\"text\/css\">).+(?=<\/style>)/m,'')%></div>
      <% if @post.image_content_type %>
          <div class="erow">
            <div class="hrline">
              <hr noshade size="3">
            </div>
          </div>

          <%= link_to (image_tag @post.image.url(:original), style: 'max-height:480px;max-width:480px'), @post.image.url(:original), :target=>"_blank"%>
      <% end %>
  </div>
 </div>
