
<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', :remote => true,  :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     Logs
     &nbsp;--&gt;&nbsp;
     Upload
     </div>
   <div id="controls">
       <%=  link_to "Index", '/contacts/', class: "btn btn-small btn-primary", :remote => true,  :onclick => "linkHandler('index')"%>
       <%=render 'map_controls'%>
   </div>
</div>
<div id="right_scroll">
  <div class="fullform">
    <%= render 'flash' %>
    <%= render 'shared/error_messages' %>
    <div style='color:#ff0000'><p><i>This is a new experimental feature. Logs use a wide range of different parameters and this has not yet been tested with the full range of logging software. Feel free to try it out but please check your logs once uploaded and if necessary edt them.  Please report any issues to admin@ontheair.nz.  We currently recommend uploading 1 activation per log or 1 day of chaser data per log.</i></p></div>
    <div class="erow">
    <p>Select your log and click the 'Upload' button. Logs must be in ADIF format or SOTA CSV V2 format</p>
    <%  @submit_button = "Upload log" %>
    <%= render 'flash' %>

    <div class="fullform">
       <%= form_for @upload, :remote => true, url: '/logs/upload', :html => {:name => 'hutform'} do |f| %>
        <%= render 'shared/error_messages' %>

       <div class="erow">
         <div class="hrline">
            <hr noshade size="4">
         </div>
       </div>

        <div class="erow">
            <a href="#"  remote=true onclick='expand_div("advanced");return(false);'>Advanced options v</a>
        </div>

        <div id="advanced" style="display:none">

          <div class="erow">
            <i>Some log programs do not include callsign or location for your station or operator. Select a default to apply where no station/operator or location is specified for you in the log. You can ignore this if you know the log contains correct callsign / location information.</i>
          </div>
          <div class="erow">
            <div class="sectiontitle25">Station callsign:</div>
          </div>
          <div class="erow">
            <% if current_user.is_admin then %>
              <%= f.text_field :doc_callsign %>
            <% else %>
              <%= collection_select( :upload, :doc_callsign, current_user.callsigns, :callsign, :callsign, {}) %>
            <% end %>
          </div>
          <div class="erow">
            <div class="sectiontitle25">Station location reference (e.g. ZLL/0001):</div>
          </div>
          <div class="erow">
              <%= f.text_field :doc_location %>
          </div>
          <div class="erow">
            <div class="sectiontitle25">Import only contacts with current registered users:</div>
          </div>
          <div class="erow">
            <%= f.check_box :doc_no_create%><br/><br/>
          </div>
          <div class="erow">
            <div class="sectiontitle25">Ignore errors and save valid contacts:</div>
          </div>
          <div class="erow">
            <%= f.check_box :doc_ignore_error%><br/><br/>
          </div>
        </div>

        <div class="erow">
          <div class="hrline">
            <hr noshade size="4">
          </div>
        </div>

        <div class="erow">
          <div class="sectiontitle25">Filename:</div>
        </div>
        <div class="erow">
          <%= f.file_field :doc %>
          <%= f.submit @submit_button, class: "btn btn-small btn-primary btn-hightlight", :onclick => "submitHandler('Uploading ...');" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="erow" style="text-color: #f00">
  <% if @errors then %>
    <ul>
      <% @errors.each do |error| %>
        <li>
           <%=error%>
        </li>
      <% end %>
    </ul>
  <% end %>
  </div>
 
</div>
