    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner" style="font-size:0.8em">
<!--        <div class="container"> -->
        <div id="our_logo">
          <div id="rg-image">
            <img src='/assets/antenna32.png'>
          </div>
          <div id="rg-text">
            <%= link_to "... On The Air", root_path, id: "logo", remote: true, :onclick => "linkHandler('logo')" %>
          </div>
        </div>
          <nav>
            <ul class="nav pull-right" id="menus">
                <li><%= link_to '...OnTheAir', '/', remote: true, :id => 'home_link', :onclick => "linkHandler('home_link')"  %></li>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     Info <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <%Topic.all.order(:name).each do |topic|%>
                      <li><%= link_to topic.name, '/topics/'+topic.id.to_s, remote: true, :id => 'about_link', :onclick => "linkHandler('about_link')"  %></li>
                    <% end %>
                  </ul>
                </li>



                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     Places <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Places", '/assets',  remote: true,  :id => 'places_link', :onclick => "linkHandler('places_link')"  %></li>
                    <li><%= link_to 'Districts', '/districts', remote: true, :id => 'district_link', :onclick => "linkHandler('district_link')"  %></li>
                    <li><%= link_to 'Regions', '/regions', remote: true, :id => 'region_link', :onclick => "linkHandler('region_link')"  %></li>
                    <li class="divider"></li>                  
                    <li><%= link_to 'VK Places', '/vkassets', remote: true, :id => 'vk', :onclick => "linkHandler('vk')"  %></li>
                  </ul>
                </li>

                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     Results <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Recent", '/recent',  remote: true,  :id => 'recent_link', :onclick => "linkHandler('recent_link')"  %></li>
                    <li><%= link_to "Results", '/results',  remote: true,  :id => 'results_link', :onclick => "linkHandler('results_link')"  %></li>
                    <li><%= link_to "Awards", '/awards',  remote: true,  :id => 'awards_link', :onclick => "linkHandler('awards_link')"  %></li>
                  </ul>
                </li>
              <% if write_access? %>
                <li><%= link_to "My Logs", '/logs',  remote: true,  :id => 'logs_link', :onclick => "linkHandler('logs_link')"  %></li>
              <% end %>
                <li><%= link_to "Spots", '/spots',  remote: true,  :id => 'spots_link', :onclick => "linkHandler('spots_link')"  %></li>
                <li><%= link_to "Alerts", '/alerts',  remote: true,  :id => 'alerts_link', :onclick => "linkHandler('alerts_link')"  %></li>

              <% if signed_in? %>
                     
                <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <% mail="" %>
                  <% if current_user.mailuser and current_user.mailuser.length>0 then %>
                    <% cmd='/bin/ls /home/'+current_user.mailuser+'/Maildir/new' %>
                    <% result=`#{cmd}` %>
                    <% if result and result.length>0 then mail="*" end %>
                  <% end %>
                   <b><%=current_user.callsign.upcase+mail%></b> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", '/users/'+current_user.callsign, remote: true, :id => 'profile_link', :onclick => "linkHandler('profile_link')" %></li>
                  <li class="divider"></li>
                  <li><%= link_to "My Awards (beta)", '/users/'+current_user.callsign+"/awards",  remote: true,  :id => 'awards_link', :onclick => "linkHandler('awards_link')"  %></li>
                  <% if write_access? then %>
                    <li><%= link_to "My Contacts", '/contacts',  remote: true,  :id => 'contacts_link', :onclick => "linkHandler('contacts_link')"  %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Lake Activator Log", '/contacts.csv?type=lake&simple=true&activator=true', :id => 'zlla_link' %></li>
                    <li><%= link_to "Lake Chaser Log", '/contacts.csv?type=lake&simple=true&chaser=true', :id => 'zllc_link' %></li>
                    <li class="divider"></li>
                    <li><%= link_to "SOTA Logs", '/sota_logs', remote: true, :id => 'sota_link', :onclick => "linkHandler('sota_link')" %></li>
                    <li class="divider"></li>
                    <li><%= link_to "POTA Logs", '/pota_logs', remote: true, :id => 'pota_link', :onclick => "linkHandler('pota_link')" %></li>
                    <li><%= link_to "WWFF Logs", '/wwff_logs', remote: true, :id => 'wwff_link', :onclick => "linkHandler('wwff_link')" %></li>
                  <% end %>
                  <li class="divider"></li>                  
                  <% if current_user.mailuser and current_user.mailuser.length>0 then %>
                    <li><%= link_to "Mail"+mail, '/webmail' %></li>
                    <li class="divider"></li>                  
                  <% end %>
                  <li><%= link_to "Users", '/users',  remote: true,  :id => 'users_link', :onclick => "linkHandler('users_link')"  %></li>
                  <li class="divider"></li>                  

                  <li>
                    <%= link_to "Sign out", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
              <% else %>
                <li><%= link_to "Sign in", signin_path, remote: true %></li>
                <li><%= link_to "Sign up", signup_path, remote: true %></li>
              <% end %>

            </ul>
          </nav>
<!--        </div>-->
      </div>
    </header>

